<style>
  .layui-input-inline{margin-top:10px;}
</style>
<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>交易管理</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-tab layui-tab-brief">
      <ul class="layui-tab-title">
        <li class="layui-this">交易记录</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
          <div class="layui-row">
            <div class="layui-form" style="float:right; margin-bottom: 10px;">
              <div id="timeDiv" class="layui-form-item" style="margin:0;">
                <div class="layui-input-inline">
                  <input type="text" name="searchTradeOrderId" id="searchTradeOrderId" placeholder="交易单号" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline">
                  <input type="text" name="searchStoreId" id="searchStoreId" placeholder="门店ID" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline">
                  <input type="text" name="searchOperatorId" id="searchOperatorId" placeholder="操作员ID" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline">
                  <input type="text" name="searchMemberId" id="searchMemberId" placeholder="会员ID" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline">
                  <select name="searchStatus" id="searchStatus" lay-search="">
                    <option value="-99">状态</option>
                    <option value="0">订单生成</option>
                    <option value="1">处理中</option>
                    <option value="2">支付成功</option>
                    <option value="-1">支付失败</option>
                    <option value="4">部分退款</option>
                    <option value="5">全额退款</option>
                    <option value="6">押金未结算</option>
                    <option value="7">押金退还</option>
                  </select>
                </div>
                <div class="layui-input-inline">
                  <button id="search" class="layui-btn" data-type="reload">搜索</button>
                </div>
              </div>
            </div>
          </div>
          <table id="XxPay_Mgr_Notify_dataAll" lay-filter="XxPay_Mgr_Notify_dataAll"></table>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
layui.use(['admin', 'table', 'util', 'timePick'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,table = layui.table
  ,element = layui.element
  ,timePick = layui.timePick
  ,view = layui.view
  ,form = layui.form;

  element.render('breadcrumb', 'breadcrumb');
  timePick.init();  //第一个参数表示开始时间   第二个表示结束时间   0,0今天   -1,-1昨天   -7,0近一周   以此类推

  var tplStatus = function(d){
      if(d.status == 0) {
          return "<span style='color: blue'>订单生成</span>";
      }else if(d.status == 1) {
          return "<span style='color: orange'>处理中</span>";
      }else if(d.status == 2) {
          return "<span style='color: green'>支付成功</span>";
      }else if(d.status == 4) {
          return "<span style='color: darkgreen'>部分退款</span>";
      }else if(d.status == 5) {
          return "<span style='color: red'>全部退款</span>";
      }else if(d.status == -1) {
          return "<span style='color: red'>支付失败</span>";
      }else if(d.status == 6) {
          return "<span style='color: orange'>押金未结算</span>";
      }else if(d.status == 7) {
          return "<span style='color: red'>押金退还</span>";
      }
  };

  var tplEdit = function(d){
    var thisHtml = '<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>';

    if(d.status == 2 || d.status == 4){
      thisHtml += '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="refund">退款</a>';
    }
    return thisHtml;
  };

  var createTimeStart = $('#createTimeStart').val();
  var createTimeEnd = $('#createTimeEnd').val();
  //列表
  table.render({
    elem: '#XxPay_Mgr_Notify_dataAll'
    ,url: layui.setter.baseUrl + '/trade_order/list' //列表接口
    ,where: {
      queryStartDateTime:createTimeStart,
      queryEndDateTime:createTimeEnd
    }
    ,id: 'tableReload'
    ,page: true
    ,cols: [[
      {type: 'checkbox', fixed: 'left'}
      ,{field: 'tradeOrderId', title: '交易单号', width: 230}
      ,{field: 'storeName', title: '门店名称'}
      ,{field: 'operatorName', title: '操作员名称'}
      ,{field: 'memberId', title: '会员ID'}
      ,{field: 'amount', title: '交易金额', templet: '<div>{{ d.amount/100 }}</div>'}
      ,{field: 'status', title: '状态', templet: tplStatus}
      ,{field: 'createTime', title: '创建时间', templet: '<div>{{ layui.util.toDateString(d.createTime, "yyyy-MM-dd HH:mm:ss") }}</div>'}
      ,{field: 'edit', title: '操作', templet: tplEdit}
    ]]
    ,skin: 'line'
  });

  //监听工具条
  table.on('tool(XxPay_Mgr_Notify_dataAll)', function(obj){
    var data = obj.data;
    if(obj.event === 'detail'){
      view.xxpayPopup("交易详情", "order/trade/view", {tradeOrderId: data.tradeOrderId}, {btn:false});
    } else if(obj.event === 'refund'){
      view.xxpayPopup("退款", "order/trade/refund", {tradeOrderId: data.tradeOrderId});
    }
  });

  // 搜索
  var $ = layui.$, active = {
    reload: function(){
      var createTimeStart = $('#createTimeStart').val();
      var createTimeEnd = $('#createTimeEnd').val();
      var tradeOrderId = $('#searchTradeOrderId').val();
      var storeId = $("#searchStoreId").val();
      var operatorId = $("#searchOperatorId").val();
      var memberId = $("#searchMemberId").val();
      var status = $("#searchStatus").val();
      //执行重载
      table.reload('tableReload', {
        page: {
          curr: 1 //重新从第 1 页开始
        }
        ,where: {
          tradeOrderId: tradeOrderId,
          storeId: storeId,
          operatorId: operatorId,
          memberId: memberId,
          status : status,
          queryStartDateTime : createTimeStart,
          queryEndDateTime : createTimeEnd
        }
      });
    }
  };
  $('#search').on('click', function() {
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });

  // 渲染表单
  form.render();
});
</script>