
<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>订单管理</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-tab layui-tab-brief">
      <ul class="layui-tab-title">
        <li class="layui-this">退款订单</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
          <div class="layui-row">
            <div class="layui-form" style="float:right; margin-bottom: 10px;">
              <div class="layui-form-item" style="margin:0;">
                <div class="layui-input-inline">
                  <input type="text" name="createTimeStart" id="createTimeStart" autocomplete="off" placeholder="开始时间" class="layui-input">
                </div>
                <div class="layui-input-inline">
                  <input type="text" name="createTimeEnd" id="createTimeEnd" autocomplete="off" placeholder="结束时间" class="layui-input">
                </div>
                <div class="layui-input-inline">
                  <input type="text" name="refundOrderId" id="refundOrderId" placeholder="退款单号" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline">
                  <input type="text" name="mchOrderNo" id="mchOrderNo" placeholder="商户单号" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline">
                  <select name="type" id="status" lay-search="">
                    <option value="-99">状态</option>
                    <option value="0">订单生成</option>
                    <option value="1">支付中</option>
                    <option value="2">支付成功</option>
                  </select>
                </div>
                <button id="search" class="layui-btn" data-type="reload">搜索</button>
              </div>
            </div>
          </div>
          <table id="XxPay_Mgr_RefundOrder_dataAll" lay-filter="XxPay_Mgr_RefundOrder_dataAll"></table>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/html" id="xxpayBar">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
</script>

<script>
layui.use(['admin', 'table', 'util', 'laydate'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,table = layui.table
  ,element = layui.element
  ,laydate = layui.laydate
  ,form = layui.form;
  
  element.render('breadcrumb', 'breadcrumb');

  var tplStatus = function(d){
    if(d.status == 0) {
      return "<span style='color: blue'>订单生成</span>";
    }else if(d.status == 1) {
      return "<span style='color: orangered'>退款中</span>";
    }else if(d.status == 2) {
      return "<span style='color: green'>退款成功</span>";
    }else if(d.status == 3) {
      return "<span style='color: rebeccapurple'>退款失败</span>";
    }
  };

  //用户列表
  table.render({
    elem: '#XxPay_Mgr_RefundOrder_dataAll'
    ,url: layui.setter.baseUrl + '/refund_order/list' //用户列表接口
    ,id: 'tableReload'
    ,page: true
    ,cols: [[
      {type: 'checkbox', fixed: 'left'}
      ,{field: 'refundOrderId', title: '退款单号'}
      ,{field: 'mchId', title: '商户ID'}
      ,{field: 'refundAmount', title: '退款金额', templet: '<div>{{ d.refundAmount/100 }}</div>'}
      ,{field: 'status', title: '状态', templet: tplStatus}
      ,{field: 'createTime', title: '创建时间', templet: '<div>{{ layui.util.toDateString(d.createTime, "yyyy-MM-dd HH:mm:ss") }}</div>'}
      ,{field: 'edit', title: '操作', toolbar: '#xxpayBar' }
    ]]
    ,skin: 'line'
  });

  //监听工具条
  table.on('tool(XxPay_Mgr_RefundOrder_dataAll)', function(obj){
    var data = obj.data;
    if(obj.event === 'detail'){
      location.hash = "/order/refund/view/refundOrderId=" + data.refundOrderId;
    }
  });

  // 搜索
  var $ = layui.$, active = {
    reload: function(){
      var createTimeStart = $('#createTimeStart').val();
      var createTimeEnd = $('#createTimeEnd').val();
      var refundOrderId = $('#refundOrderId').val();
      var mchOrderNo = $("#mchOrderNo").val();
      var status = $("#status").val();
      //执行重载
      table.reload('tableReload', {
        page: {
          curr: 1 //重新从第 1 页开始
        }
        ,where: {
          refundOrderId: refundOrderId,
          mchOrderNo: mchOrderNo,
          status : status,
          createTimeStart : createTimeStart,
          createTimeEnd : createTimeEnd
        }
      });
    }
  };
  $('#search').on('click', function() {
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });

  laydate.render({
    elem: '#createTimeStart'
    ,type: 'datetime'
    ,format: 'yyyy-MM-dd HH:mm:ss'
  });

  laydate.render({
    elem: '#createTimeEnd'
    ,type: 'datetime'
    ,format: 'yyyy-MM-dd HH:mm:ss'
  });
  // 渲染表单
  form.render();
});
</script>