<style>
  .layuiadmin-card-list p.layuiadmin-big-font{font-size:16px}
  .dataCard{    background: aliceblue;}
  body .layui-card{border-radius:10px;}
</style>
<div class="layui-fluid layui-row layui-col-space15">

  <!-- 数据统计卡片 -->
  <div class="layui-col-md8">
    <div class="layui-card">

      <div class="layui-row layui-card-header" style="padding-bottom: 20px; padding-top:10px">
        <div class="layui-col-md3" style="font-size: 24px;">数据统计</div>
        <div class="layui-col-md3">
          <input type="text" class="layui-input" id="selectDateInputByData" placeholder="选择时间范围" readonly/>
        </div>
        <div class="layui-col-md5 layui-col-md-offset1">
          <div class="layui-btn-group">
            <button type="button" class="layui-btn layui-btn-sm selectDateBtn" queryDateRange="">全部</button>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary selectDateBtn" queryDateRange="yesterday">昨天</button>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary selectDateBtn" queryDateRange="near2yesterday_3">近3天</button>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary selectDateBtn" queryDateRange="near2yesterday_7">近7天</button>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary selectDateBtn" queryDateRange="near2yesterday_30">近30天</button>
          </div>
        </div>
      </div>

      <div class="layui-row layui-col-space15" style="padding-left:50px; padding-top:20px">

        <div class="layui-col-sm6 layui-col-md2">
          <div class="layui-card dataCard">
            <div class="layui-card-header">实收金额</div>
            <div class="layui-card-body layuiadmin-card-list">
              <p class="layuiadmin-big-font" id="sumRealAmount">-</p>
              <p></p>
            </div>
          </div>
        </div>

        <div class="layui-col-sm6 layui-col-md2 agentDiv2 layui-hide">
          <div class="layui-card dataCard">
            <div class="layui-card-header">二级代理商</div>
            <div class="layui-card-body layuiadmin-card-list">
              <p class="layuiadmin-big-font" id="countAgent2">-</p>
              <p></p>
            </div>
          </div>
        </div>

        <div class="layui-col-sm6 layui-col-md2 agentDiv3 layui-hide">
          <div class="layui-card dataCard">
            <div class="layui-card-header">三级代理商</div>
            <div class="layui-card-body layuiadmin-card-list">
              <p class="layuiadmin-big-font" id="countAgent3">-</p>
              <p></p>
            </div>
          </div>
        </div>

        <div class="layui-col-sm6 layui-col-md2">
          <div class="layui-card dataCard">
            <div class="layui-card-header">所有商户</div>
            <div class="layui-card-body layuiadmin-card-list">
              <p class="layuiadmin-big-font" id="countAllMch">-</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <div class="layui-row layui-col-space15" style="padding-left:50px; padding-bottom: 50px">

        <div class="layui-col-sm6 layui-col-md2">
          <div class="layui-card dataCard">
            <div class="layui-card-header">佣金</div>
            <div class="layui-card-body layuiadmin-card-list">
              <p class="layuiadmin-big-font" id="sumProfit">-</p>
              <p></p>
            </div>
          </div>
        </div>

        <div class="layui-col-sm6 layui-col-md2 mchDiv2 layui-hide">
          <div class="layui-card dataCard">
            <div class="layui-card-header">二级商户</div>
            <div class="layui-card-body layuiadmin-card-list">
              <p class="layuiadmin-big-font" id="countMchByAgent2">-</p>
              <p></p>
            </div>
          </div>
        </div>

        <div class="layui-col-sm6 layui-col-md2 mchDiv3 layui-hide">
          <div class="layui-card dataCard">
            <div class="layui-card-header">三级商户</div>
            <div class="layui-card-body layuiadmin-card-list">
              <p class="layuiadmin-big-font" id="countMchByAgent3">-</p>
              <p></p>
            </div>
          </div>
        </div>

        <div class="layui-col-sm6 layui-col-md2">
          <div class="layui-card dataCard">
            <div class="layui-card-header">子商户</div>
            <div class="layui-card-body layuiadmin-card-list">
              <p class="layuiadmin-big-font" id="countSubMch">-</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- 最新公告 -->
  <div class="layui-col-md4">
    <div class="layui-card">

      <div class="layui-row layui-card-header" style="padding-bottom: 20px; padding-top:10px">
        <div class="layui-col-md4" style="font-size: 24px;">最新公告</div>
      </div>

      <div style="height: 340px;">
        <ul class="layuiadmin-card-status layuiadmin-home2-usernote" id="messagePageUL"></ul>
      </div>

    </div>
  </div>


  <!-- 数据统计卡片2-->
  <div class="layui-col-md12">
    <div class="layui-card">

      <div class="layui-row layui-col-space15" style="padding:20px">

        <div class="layui-col-md3">
          <div class="layui-card dataCard">
            <div class="layui-card-header" style="font-size: 24px;text-align: center;">交易金额</div>
            <div class="layui-card-body layuiadmin-card-list">
              <p class="layuiadmin-big-font" style="font-size: 20px;text-align: center;" id="sumTradeAmount">-</p>
              <p></p>
            </div>
          </div>
        </div>

        <div class="layui-col-md3">
          <div class="layui-card dataCard">
            <div class="layui-card-header" style="font-size: 24px;text-align: center;">交易笔数</div>
            <div class="layui-card-body layuiadmin-card-list">
              <p class="layuiadmin-big-font" style="font-size: 20px;text-align: center;" id="countTrade">-</p>
              <p></p>
            </div>
          </div>
        </div>

        <div class="layui-col-md3">
          <div class="layui-card dataCard">
            <div class="layui-card-header" style="font-size: 24px;text-align: center;">退款金额</div>
            <div class="layui-card-body layuiadmin-card-list">
              <p class="layuiadmin-big-font" style="font-size: 20px;text-align: center;" id="sumRefundAmount">-</p>
              <p></p>
            </div>
          </div>
        </div>

        <div class="layui-col-md3">
          <div class="layui-card dataCard">
            <div class="layui-card-header" style="font-size: 24px;text-align: center;">退款笔数</div>
            <div class="layui-card-body layuiadmin-card-list">
              <p class="layuiadmin-big-font" style="font-size: 20px;text-align: center;" id="countRefund">-</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- 佣金统计 金额柱状图 -->
  <div class="layui-col-md7">
    <div class="layui-card">
      <div class="layui-row layui-card-header" style="padding-bottom: 20px; padding-top:10px">
        <div class="layui-col-md3" style="font-size: 24px;">佣金统计</div>
        <div class="layui-col-md4 layui-col-md-offset5">
          <input type="text" class="layui-input" id="selectDateInputByProfitCharts" placeholder="选择时间范围" readonly/>
        </div>
      </div>

      <div style="height:450px">
        <div id="chartsByProfit" style="width: 100%;height:450px;"></div>
      </div>
    </div>
  </div>

  <!-- 支付方式 -->
  <div class="layui-col-md5">
    <div class="layui-card">
      <div class="layui-row layui-card-header" style="padding-bottom: 20px; padding-top:10px">
        <div class="layui-col-md6" style="font-size: 24px;">支付方式</div>
        <div class="layui-col-md6">
          <input type="text" class="layui-input" id="selectDateInputByProductType" placeholder="选择时间范围" readonly/>
        </div>
      </div>

      <div style="height:450px">
        <div id="chartsByProductType" style="width: 100%;height:450px;"></div>
      </div>
    </div>
  </div>

</div>


<script>
    layui.use(['admin', 'view', 'echarts', 'laydate', 'util'], function(){
        var $ = layui.$
            ,admin = layui.admin
            ,element = layui.element
            ,laydate = layui.laydate
            ,util = layui.util
            ,echarts = layui.echarts
            ,view = layui.view;

        //两个时间相差天数 兼容firefox chrome
        var dateDifference = function(sDate1, sDate2) {    //sDate1和sDate2是2006-12-18格式
            var dateSpan, tempDate, iDays;
            sDate1 = Date.parse(sDate1);
            sDate2 = Date.parse(sDate2);
            dateSpan = sDate2 - sDate1;
            dateSpan = Math.abs(dateSpan);
            iDays = Math.floor(dateSpan / (24 * 3600 * 1000));
            return iDays;
        };

        //统计柱状图
        var chartsByProfit = echarts.init($('#chartsByProfit')[0],layui.echartsTheme);

        //支付方式 饼状图
        var chartsByProductType = echarts.init($('#chartsByProductType')[0],layui.echartsTheme);

        /** 重新画 佣金柱状图 **/
        var resizeChartsByProfit = function(dateRangeArr, profitArr){
            chartsByProfit.setOption({
                title : {text: '', subtext: ''},  //设置标题
                tooltip : {trigger: 'axis'},  //当触发树状图时， 显示标题
                legend: {data:['佣金']},  //图例组件
                calculable : false,  //是否可拖拽
                xAxis : [{type : 'category', data : dateRangeArr} ],    //x轴数据
                yAxis : [{type : 'value'}],    //y轴数据
                series : [  //数据信息
                    { name:'佣金', type:'bar', data:profitArr }
                ]
            }, true);  //第二个参数，true表示重新渲染
        }

        /** 重新画 支付类型饼状图 **/
        var resizeChartsByProductType = function(wxCount, alipayCount, memberCount, cashCount){
            chartsByProductType.setOption({
                title : {text: '', subtext: ''},  //设置标题
                tooltip : {show: true},  //当触发树状图时， 显示标题
                legend: {data:['微信','支付宝','会员卡', '现金']},  //图例组件
                calculable : false,  //是否可拖拽
                series : [  //数据信息
                    { center: ['60%', '60%'], radius: '60%', name:'交易金额', type:'pie'
                        , data: [
                            {value: wxCount, name: '微信'},
                            {value: alipayCount, name: '支付宝'},
                            {value: memberCount, name: '会员卡'},
                            {value: cashCount, name: '现金'}
                        ]
                    }
                ]
            }, true);  //第二个参数，true表示重新渲染
        }

        //刷新统计数据 卡片
        var refreshDataStatistics = function(queryData){
            admin.req({
                type: 'get',
                url: layui.setter.baseUrl + '/data/dataStatistics',
                data: queryData,
                error: function (err) {
                    layer.alert(JSON.stringify(err.field), {title: '错误提示'})
                },
                success: function (res) {
                    if(res.code == 0){

                        $("#sumTradeAmount").text("￥" + res.data.sumTradeAmount / 100);   //订单金额
                        $("#sumRealAmount").text("￥" + res.data.sumRealAmount / 100);   //实际收款
                        $("#sumRefundAmount").text("￥" + res.data.sumRefundAmount / 100);   //退款金额
                        $("#countTrade").text(res.data.countTrade);   //订单笔数
                        $("#countRefund").text(res.data.countRefund);   //退款笔数

                        $("#countAllMch").text(res.data.countAllMch);   //所有商户数量
                        $("#countSubMch").text(res.data.countSubMch);  //子商户数量
                        $("#sumProfit").text("￥" + res.data.sumProfit / 100);  //佣金

                        if(res.data.currentAgentLevel == 1){  //一级代理商

                            $("#countAgent2").text(res.data.countAgent2);   //二级代理商数量
                            $("#countMchByAgent2").text(res.data.countMchByAgent2);   //二级商户数量
                            $("#countAgent3").text(res.data.countAgent3);   //三级代理商数量
                            $("#countMchByAgent3").text(res.data.countMchByAgent3);   //三级商户数量

                            $('.agentDiv2').removeClass('layui-hide');
                            $('.mchDiv2').removeClass('layui-hide');

                            $('.agentDiv3').removeClass('layui-hide');
                            $('.mchDiv3').removeClass('layui-hide');


                        }else if(res.data.currentAgentLevel == 2){  //二级代理商

                            $("#countAgent3").text(res.data.countAgent3);   //三级代理商数量
                            $("#countMchByAgent3").text(res.data.countMchByAgent3);   //三级商户数量

                            $('.agentDiv3').removeClass('layui-hide');
                            $('.mchDiv3').removeClass('layui-hide');
                        }
                    }
                }
            });
        };

        //刷新 金额柱状图 卡片
        var refreshChartsByProfit = function(queryData){
            admin.req({
                type: 'get',
                url: layui.setter.baseUrl + '/data/statisticsByProfitCharts',
                data: queryData,
                error: function (err) {
                    layer.alert(JSON.stringify(err.field), {title: '错误提示'})
                },
                success: function (res) {
                    if(res.code == 0){
                        resizeChartsByProfit(res.data.xTitleArray, res.data.profitArray);
                    }
                }
            });
        };

        //刷新 交易类型饼状图 卡片
        var refreshChartsByProductType = function(queryData){

            admin.req({
                type: 'get',
                url: layui.setter.baseUrl + '/data/statisticsByProductType',
                data: queryData,
                error: function (err) {
                    layer.alert(JSON.stringify(err.field), {title: '错误提示'})
                },
                success: function (res) {
                    if(res.code == 0){

                        var wxCount = 0;
                        var alipayCount = 0;
                        var memberCount = 0;
                        var cashCount = 0;

                        $.each(res.data, function(){
                            if(this.productType == '1'){  //现金
                                cashCount = this.totalCount;
                            }else if(this.productType == '2'){ //会员卡支付
                                memberCount = this.totalCount;
                            }else if(this.productType == '3'){ //微信
                                wxCount = this.totalCount;
                            }else if(this.productType == '4'){ //支付宝
                                alipayCount = this.totalCount;
                            }
                        });
                        resizeChartsByProductType(wxCount, alipayCount, memberCount, cashCount);
                    }
                }
            });
        };


        //【数据型的统计卡片】 按钮点击事件
        $(".selectDateBtn").click(function(){

            $(".selectDateBtn").removeClass("layui-btn-primary").addClass("layui-btn-primary");
            $(this).removeClass("layui-btn-primary");
            $("#selectDateInputByData").val("");   //清除时间选择框的内容

            var queryDateRange = $(this).attr("queryDateRange");  //查询时间范围
            refreshDataStatistics({queryDateRange: queryDateRange});
        });

        //【数据型的统计卡片】 的选择时间控件绑定事件
        laydate.render({
            elem: '#selectDateInputByData' //指定元素
            ,range: "~"   //时间选择范围, ~分割
            ,max: util.toDateString(new Date(), 'yyyy-MM-dd')  //不能超过今天
            ,done: function(value, date, endDate){
                //清空 / 未选择
                if(!value){ return false; }
                $(".selectDateBtn").removeClass("layui-btn-primary").addClass("layui-btn-primary");  //全部未选择
                var startTime = value.split("~")[0].trim();
                var endTime = value.split("~")[1].trim();
                refreshDataStatistics({"queryStartDate": startTime, "queryEndDate": endTime});
            }
        });

        //【佣金柱状图】 的选择时间控件绑定事件
        var layDateByAmount = laydate.render({
            elem: '#selectDateInputByProfitCharts' //指定元素
            ,range: "~"   //时间选择范围, ~分割
            ,max: util.toDateString(new Date(), 'yyyy-MM-dd')  //不能超过今天
            ,change: function(value, date, endDate){
                var startTime = value.split("~")[0].trim();
                var endTime = value.split("~")[1].trim();

                if(dateDifference(endTime, startTime) >= 31){
                    layDateByAmount.hint("时间范围不得超过31天！");
                }

            }
            ,done: function(value, date, endDate){
                //清空 / 未选择
                if(!value){ return false; }
                var startTime = value.split("~")[0].trim();
                var endTime = value.split("~")[1].trim();

                if(dateDifference(endTime, startTime) >= 31){   //时间超过31天
                    return;
                }
                refreshChartsByProfit({"queryStartDate": startTime, "queryEndDate": endTime});
            }
        });

        //【支付类型饼状图卡片】 的选择时间控件绑定事件
        var layDateByProductType = laydate.render({
            elem: '#selectDateInputByProductType' //指定元素
            ,range: "~"   //时间选择范围, ~分割
            ,max: util.toDateString(new Date(), 'yyyy-MM-dd')  //不能超过今天
            ,change: function(value, date, endDate){
                var startTime = value.split("~")[0].trim();
                var endTime = value.split("~")[1].trim();

                if(dateDifference(endTime, startTime) >= 31){
                    layDateByAmount.hint("时间范围不得超过31天！");
                }

            }
            ,done: function(value, date, endDate){
                //清空 / 未选择
                if(!value){ return false; }
                var startTime = value.split("~")[0].trim();
                var endTime = value.split("~")[1].trim();

                if(dateDifference(endTime, startTime) >= 31){   //时间超过31天
                    return;
                }
                refreshChartsByProductType({"queryStartDate": startTime, "queryEndDate": endTime});
            }
        });

        // 重新加载 [最新公告] 卡片
        var reloadMessage = function(){
            admin.req({
                type: 'get',
                url: layui.setter.baseUrl + '/message/list',
                data: {limit: 5 },
                error: function (err) {
                    layer.alert(JSON.stringify(err.field), {title: '错误提示'})
                },
                success: function (res) {
                    $("#messagePageUL").empty();
                    $.each(res.data, function(){
                        $("#messagePageUL").append(
                            `
                            <li>
                              <p>`+this.title+`</p>
                              <span>`+layui.util.timeAgo(this.createTime, true)+`</span>
                              <a href="javascript:;" messageId = "` + this.id + `" class="layui-btn layui-btn-xs layuiadmin-reply messageDetailBtn">查看详情</a>
                            </li>
                            `
                        );
                    });
                }
            });
        };

        //绑定 [查询详情] 按钮
        $('#messagePageUL').off('click', ".messageDetailBtn").on('click', '.messageDetailBtn', function(){
            view.xxpayPopup("消息详情", "message/detail", {id: $(this).attr('messageId')}, {btn:false});
        });

        //根据窗口的大小变动图表
        window.onresize = function(){
            chartsByProfit.resize();
            chartsByProductType.resize();
        };


        //查询上一次的结算周期日
        admin.req({
            type: 'get',
            url: layui.setter.baseUrl + '/agent/getPrevSettDate',
            error: function (err) {
                layer.alert(JSON.stringify(err.field), {title: '错误提示'})
            },
            success: function (res) {
                if(res.code == 0) {

                    if(res.data != null){

                        var queryStartDate = res.data.queryStartDate;
                        var queryEndDate = res.data.queryEndDate;

                        $("#selectDateInputByProfitCharts").val(queryStartDate + " ~ " + queryEndDate);
                        $("#selectDateInputByProductType").val(queryStartDate + " ~ " + queryEndDate);
                        refreshChartsByProfit({queryStartDate: queryStartDate, queryEndDate: queryEndDate});
                        refreshChartsByProductType({queryStartDate: queryStartDate, queryEndDate: queryEndDate});
                    }
                }
            }
        });



        //默认显示【全部时间】 数据
        refreshDataStatistics({});

        reloadMessage();  //查询最新公告消息

    });
</script>
