<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <div class="layui-tab-content">
                <form class="layui-form center">
                    <input type="hidden" id="storeId" name="storeId" />
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 20%">门店名称</label>
                        <div class="layui-input-inline">
                            <input type="text" disabled id="storeName" name="storeName" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 20%">退款密码(8-16位)</label>
                        <div class="layui-input-inline">
                            <input type="passWord" required id="refundPassword" lay-verify="pass" name="refundPassword" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 20%">是否已设置</label>
                        <div class="layui-input-inline">
                            <input type="radio" name="relieve" value="1" title="已设置退款密码" disabled>
                            <input type="radio" name="relieve" value="0" title="未设置退款密码" disabled>
                        </div>
                    </div>
                    <button type="button" lay-submit lay-filter="btnUP" class="layui-hide xxpayYesBtn">保存</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['form','util','admin'], function(){
        var form = layui.form
        ,$ = layui.$
        ,admin = layui.admin
        ,view = layui.view
        ,element = layui.element;

        element.render('breadcrumb', 'breadcrumb');//渲染导航信息
        
        var storeId = view.getOpenParams('storeId');

        $("#storeId").val(storeId);

        admin.req({
            type: 'get',
            url: layui.setter.baseUrl + '/store/get',
            data: {
                storeId: storeId
            },
            error: function(err){
                layer.alert(err);
            },
            success: function(res){
                if(res.code == 0 && res.data != null){
                    $('#speakerId').val(res.data.speakerId);
                    $('#storeName').val(res.data.storeName);
                    if(res.data.refundPassword == null || res.data.refundPassword == "") {
                        console.log(res.data.refundPassword)
                        $("input[name='relieve'][value='0']").attr("checked",true);
                    }else {
                        $("input[name='relieve'][value='1']").attr("checked",true);
                    }
                }
                form.render();
            }

        });


        //提交修改后的数据
        //监听提交
        form.on('submit(btnUP)', function(data){
            var refundPassword = $("#refundPassword").val();
            if (!refundPassword) {return layer.alert('退款密码不能为空！'); }
            /* 自定义验证规则 */
            form.verify({
                pass: [/(.+){8,16}$/, '密码必须8到16位']
            });
            // 在这个回调函数里面写ajax提交
            admin.req({
                type: 'post',
                url: layui.setter.baseUrl + '/store/updateRefund',
                data: data.field,
                success: function(res){
                    if(res.code == 0){
                        layer.closeAll(); //关闭所有弹层
                        layer.msg("操作成功");
                        layui.table.reload('tableReload', {page: {curr: 1}}); //调用业务弹层外表格重新加载
                    }
                }
            });
            return false;//阻止跳转
        });

        form.render();

    })
</script>