<div class="layui-card-header layui-card">
    <span class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">首页</a>
        <a><cite>代理商</cite></a>
    </span>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">代付通道</li>
            </ul>
            <div class="layui-tab-content">
                <style>
                    .center {
                        width: 80%;
                    }
                </style>
                <table class="layui-hide center" id="cList"></table>
            </div>
        </div>
    </div>
</div>
    <script>
        layui.use(['table','util'], function(){
            var $ = layui.$
            ,admin = layui.admin
            ,table = layui.table
            ,element = layui.element
            ,form = layui.form;

            element.render('breadcrumb', 'breadcrumb');//渲染导航信息

            var router = layui.router();
            var mchId = router.search.mchId;
            
            var tplStatus = function(d){
                if(d.status == 0) {
                    return "关闭";
                }else if(d.status == 1) {
                    return "<span style='color: green'>开启</span>";
                }
            };

            var tplRate = function(d){
                return "<span style='color: blue'>"+ d.fee/100+"元/笔<span>";
            };

            table.render({
                elem: '#cList'
                ,url: layui.setter.baseUrl + '/agent_agentpay_passage/list'
                
                ,cols: [[
                     {field:'agentpayPassageId', title: '通道ID'}
                    ,{field:'passageName', title: '通道名称'}
                    ,{field:'feeEvery', title: '代付费率', templet: tplRate}
                    ,{field:'status', title: '状态',templet: tplStatus }
                ]]
                ,page: false
                ,skin: 'line'
            });
        });
      
    </script>
