<style>
    .xxpayPopupDiv .layui-form-label {
        width:120px !important;
        margin-left:1%;
    }
    .xxpayPopupDiv .layui-input-inline {
        width: 80% !important;
    }
    .xxpayPopupDiv .layui-input , .layui-textarea{
        width: 80%;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <div class="layui-tab-content">
                <form class="layui-form center">
                    <div class="layui-form-item">
                        <label class="layui-form-label">接口类型代码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="ifTypeCode" id="ifTypeCode" placeholder="请输入接口类型代码" required lay-verify="required"  autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">接口类型名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="ifTypeName" id="ifTypeName" placeholder="请输入接口类型名称" required lay-verify="required"  autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-inline" >
                            <input type="radio" name="status" title="开启" value="1" checked />
                            <input type="radio" name="status" title="关闭" value="0" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">备注信息</label>
                        <div class="layui-input-inline">
                            <input type="text" name="remark" placeholder="请输入备注信息" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">[服务商]配置定义描述</label>
                        <div class="layui-input-inline">
                            <textarea name="isvParam" id="isvParam" placeholder="请输入配置定义描述" required lay-verify="required" class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">[服务商子商户]配置定义描述</label>
                        <div class="layui-input-inline">
                            <textarea name="mchParam" id="mchParam" placeholder="请输入配置定义描述" required lay-verify="required" class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">[私有商户]配置定义描述</label>
                        <div class="layui-input-inline">
                            <textarea name="privateMchParam" id="privateMchParam" placeholder="请输入配置定义描述" required lay-verify="required" class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="button" class="layui-hide xxpayYesBtn" lay-submit="" lay-filter="add">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form','table','util','admin',],function(){
        var form = layui.form
        , $ = layui.$
        , admin = layui.admin
        , layer = layui.layer 
        , element = layui.element
        , table = layui.table;

        element.render('breadcrumb', 'breadcrumb');//渲染导航信息

        form.render();

        // 当点击微信渠道配置按钮保存的时候
        form.on('submit(add)', function(data){

            //判断配置定义是否合法
            var isvParamJsonArr = "";  //配置参数 str转换为json
            try{isvParamJsonArr = JSON.parse($("#isvParam").val());}catch(err){}
            if(!isvParamJsonArr || !(isvParamJsonArr instanceof Array) ){
                return layer.alert('[服务商]配置定义有误，请修改！');
            }

            var mchParamJsonArr = "";  //配置参数 str转换为json
            try{mchParamJsonArr = JSON.parse($("#mchParam").val());}catch(err){}
            if(!mchParamJsonArr || !(mchParamJsonArr instanceof Array) ){
                return layer.alert('[服务商子商户]配置定义有误，请修改！');
            }

            var privateMchParamJsonArr = "";  //配置参数 str转换为json
            try{privateMchParamJsonArr = JSON.parse($("#privateMchParam").val());}catch(err){}
            if(!privateMchParamJsonArr || !(privateMchParamJsonArr instanceof Array) ){
                return layer.alert('[私有商户]配置定义有误，请修改！');
            }
        	
            admin.req({
                type: 'post',
                url: layui.setter.baseUrl + '/config/pay_interface_type/add', //模拟接口
                data: data.field,
                error: function(err){
                    layer.alert(err.msg,{title:"请求失败"})
                },
                success: function(res){
                    if(res.code == 0){
                        layer.closeAll(); //关闭所有弹层
                        layer.msg("新增成功");
                        layui.table.reload('tableReload', {page: {curr: 1}}); //调用业务弹层外表格重新加载
                    }
                }
            })
        });
    })
</script>