<style>
  .tableTipsBtn{margin-top:10px; margin-left: 30px;}
</style>
<style>
  .margin-top{margin-top:10px;}
</style>
<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>商户管理</cite></a>
    <a><cite>所有商户</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-tab layui-tab-brief">
      <ul class="layui-tab-title">
        <li class="layui-this">商户列表</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
          <div class="layui-row">
            <div class="layui-form" style="float:right;">
              <div class="layui-form-item" style="margin:0;">
                <div class="layui-input-inline margin-top">
                  <input type="text" id="searchMchId" placeholder="商户ID" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline margin-top">
                  <input type="text" id="searchMchName" placeholder="商户名称" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline margin-top">
                  <input type="text" id="searchAgentId" placeholder="代理商ID" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline margin-top">
                  <select id="searchStatus" placeholder="状态">
                    <option value="">全部状态</option>
                    <option value="1">启用</option>
                    <option value="0">停用</option>
                    <option value="-1">待审核</option>
                    <option value="-2">审核不通过</option>
                  </select>
                </div>

                <div class="layui-input-inline margin-top">
                  <input type="checkbox" lay-filter="searchAgentIdIsNullFilter" name="searchAgentIdIsNull" id="searchAgentIdIsNull" title="仅查询我的子商户" />
                </div>

                <div class="layui-input-inline margin-top">
                  <button id="search" class="layui-btn" data-type="reload">搜索</button>
                </div>
              </div>
            </div>
          </div>
          <div class="layui-row">
            <div class="layuiAdmin-btns" style="margin-bottom: 10px;margin-top:10px">
               <a class="layui-btn" data-events="create">新增</a>
            </div>
          </div>
          <table id="XxPay_Mgr_Merchant_dataAll" lay-filter="XxPay_Mgr_Merchant_dataAll"></table>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
  layui.use(['admin', 'table', 'util','view'], function(){
    var $ = layui.$
            ,admin = layui.admin
            ,table = layui.table
            ,element = layui.element
            ,view = layui.view
            ,form = layui.form;

    element.render('breadcrumb', 'breadcrumb');

    var tplStatus = function(d){
      if(d.status == -1) {
        return "<span style='color: orange'>等待审核</span>";
      }else if(d.status == -2) {
        return "<span style='color: red'>审核不通过</span>";
      }else if(d.status == 0) {
        return "<span style='color: rebeccapurple'>停止</span>";
      }else if(d.status == 1) {
        return "<span style='color: darkgreen'>启用</span>";
      }
    };

      var tplSignStatus = function(d){
          if(d.signStatus == 0) {
              return "<span style='color: orange'>待补充资料</span>";
          }else if(d.signStatus == 1) {
              return "<span style='color: red'>待签约</span>";
          }else if(d.signStatus == 2) {
              return "<span style='color: darkgreen'>已签约</span>";
          }
          return "未知";
      };

    var tplEdit = function(d){
            return "<a class='layui-btn layui-btn-primary layui-btn-xs' lay-event='showMoreTipsBtn'>...</a>";
    };

    //商户列表
    table.render({
      elem: '#XxPay_Mgr_Merchant_dataAll'
      ,url: layui.setter.baseUrl + '/mch_info/list' //列表接口
      ,id: 'tableReload'
      ,page: true
      ,cols: [[
        {type: 'checkbox', fixed: 'left'}
        ,{field: 'mchId', title: '商户ID'}
        ,{field: 'mchName', title: '商户名称'}
        ,{title: '状态', templet: tplStatus}
        ,{title: '签约状态', templet: tplSignStatus}
        ,{field: 'agentId', title: '代理商ID'}
        ,{field: 'createTime', title: '创建时间', width: 200, templet: '<div>{{ layui.util.toDateString(d.createTime, "yyyy-MM-dd HH:mm:ss") }}</div>'}
        ,{field: 'edit', title: '操作', templet: tplEdit }
      ]]
      ,skin: 'line'
    });

    //监听工具条
    table.on('tool(XxPay_Mgr_Merchant_dataAll)', function(obj){
      var data = obj.data;
      if(obj.event === 'showMoreTipsBtn'){  //操作合并

          var thisIndex = $(obj.tr).data('index');

          var thisHtml = "";
          thisHtml += "<a class='layui-btn layui-btn-primary layui-btn-xs tableTipsBtn' tr-index='"+thisIndex+"' runMethod='merchantDetail'>查看商户</a>";
          thisHtml += "<a class='layui-btn layui-btn-default layui-btn-xs tableTipsBtn' tr-index='"+thisIndex+"' runMethod='edit'>编辑</a>";

            if(data.status == -1){ //待审核
                thisHtml += "<a class='layui-btn layui-btn-normal layui-btn-xs tableTipsBtn' tr-index='"+thisIndex+"' runMethod='audit'>审核</a>";

            }else if(data.status == 1){ //正常状态
                thisHtml += "<a class='layui-btn layui-btn-danger layui-btn-xs tableTipsBtn' tr-index='"+thisIndex+"' runMethod='interfaceApplyMch'>接口进件</a>";
                thisHtml += "<a class='layui-btn layui-btn-warm layui-btn-xs tableTipsBtn' tr-index='"+thisIndex+"' runMethod='payPassageConfig'>通道配置</a>";
                thisHtml += "<a class='layui-btn layui-btn-danger layui-btn-xs tableTipsBtn' tr-index='"+thisIndex+"' runMethod='productConfig'>费率设置</a>";
                thisHtml += "<a class='layui-btn layui-btn-primary layui-btn-xs tableTipsBtn' tr-index='"+thisIndex+"' runMethod='resetLoginPwd'>重置密码</a>";
                thisHtml += "<a class='layui-btn layui-btn-normal layui-btn-xs tableTipsBtn' tr-index='"+thisIndex+"' runMethod='wxOpenAuth'>微信开放平台管理</a>";


            }else if(data.status == 0){ //暂停状态
            }


            // 任何状态， 都可填入进件资料
            thisHtml += "<a class='layui-btn layui-btn-warm layui-btn-xs tableTipsBtn' tr-index='"+thisIndex+"' runMethod='fillMchInfo'>补充进件资料</a>";

            if(data.signStatus == 0 || data.signStatus == 1){ //待补充资料 || 待签约状态
                thisHtml += "<a class='layui-btn layui-btn-danger layui-btn-xs tableTipsBtn' tr-index='"+thisIndex+"' runMethod='signMch'>签约</a>";
            }
          layer.tips(thisHtml, this, {
              area: "400px",
              tips: [3, 'white'],  //
              closeBtn: 1,  //是否显示关闭按钮： 是
              time: 0,   //不会自动关闭
              shade: 0.1,
              shadeClose: true //点击其他位置 关闭
          });
      }

    });

    // 事件处理
    var events = {
        create: function() {
            view.xxpayPopup("新增商户", "biz/merchant/mch_add");
        }
    };

    $('.layuiAdmin-btns .layui-btn').on('click', function(){
        var othis = $(this)
            ,thisEvent = othis.data('events')
            ,type = othis.data('type');
        events[thisEvent] && events[thisEvent].call(this, othis, type);
    });


      //绑定 表格中的[tips按钮] 事件
      $('body').off('click', ".tableTipsBtn").on('click', '.tableTipsBtn', function(){
          var runMethod = $(this).attr("runMethod");
          var trIndex = $(this).attr("tr-index");
          var data = table.cache['tableReload'][trIndex];  //当前选中行的数据

          if(runMethod === 'merchantDetail'){
              view.xxpayPopup("商户详情", "biz/merchant/mch_view", {mchId: data.mchId}, {btn: false});
          }else if(runMethod === 'interfaceApplyMch'){
              location.href = layui.setter.baseLocal + "biz/interface_apply_mch//mchId=" + data.mchId;
          }if(runMethod === 'payPassageConfig'){
              location.href = layui.setter.baseLocal + "biz/pay_passage//mchId=" + data.mchId;
          }else if(runMethod === 'productConfig'){
              location.href = layui.setter.baseLocal + "biz/merchant/mch_product/mchId=" + data.mchId;
          }else if(runMethod === 'edit'){
              view.xxpayPopup("修改商户基本信息", "biz/merchant/mch_edit", {mchId: data.mchId});
          }else if(runMethod === 'audit'){
              view.xxpayPopup("审核商户", "biz/merchant/mch_audit", {mchId: data.mchId});
          }else if(runMethod === 'signMch'){
              view.xxpayPopup("签约商户", "biz/merchant/mch_sign", {mchId: data.mchId}, {area:["50%", "60%"]});
          }else if(runMethod === 'fillMchInfo'){
              view.xxpayPopup("补充进件资料", "biz/merchant/mch_fill_info", {mchId: data.mchId}, {btn: false});
          }
          else if(runMethod === "resetLoginPwd"){ //重置密码

              layer.confirm("确认重置商户登录密码？ ", function(index){

                  admin.req({
                      type: 'post',
                      url: layui.setter.baseUrl + '/mch_info/resetLoginPwd',
                      data: {mchId : data.mchId},
                      success: function(resData){
                          layer.msg("重置成功", {icon: 1});
                          layer.close(index);
                      }
                  });
              });
          }else if(runMethod === 'wxOpenAuth'){
            location.href = layui.setter.baseLocal + "biz/wx_openauth//mchId=" + data.mchId;
          }
      });



    form.on("checkbox(searchAgentIdIsNullFilter)", function(data){
        if(data.elem.checked){
            $("#searchAgentId").val("").attr("readonly", true).addClass("layui-bg-gray");
        }else{
            $("#searchAgentId").removeAttr("readonly").removeClass("layui-bg-gray");
        }
    });

    // 搜索
    var $ = layui.$, active = {
      reload: function(){
        var searchMchId = $('#searchMchId').val();
        var searchAgentId = $('#searchAgentId').val();
        var searchStatus = $('#searchStatus').val();
        var searchMchName = $('#searchMchName').val();
        var searchAgentIdIsNull = $("#searchAgentIdIsNull").is(":checked") ? "1" : "";

        //执行重载
        table.reload('tableReload', {
          page: {
            curr: 1 //重新从第 1 页开始
          }
          ,where: {
            mchId: searchMchId,
            agentId: searchAgentId,
            status: searchStatus,
            "ps[mchNameLike]": searchMchName,
            "ps[agentIdIsNull]": searchAgentIdIsNull
            }
        });
      }
    };
    $('#search').on('click', function() {
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

    // 渲染表单
    form.render();
  });
</script>