<style>
    .layui-input-inline{margin-top:10px;}
</style>
<div class="layui-card-header layui-card">
    <span class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>优惠券</cite></a>
    </span>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">优惠券领取记录</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-row">
                   <form action="" id="exportForm" method="post">
                       <div class="layui-form" style="float:right; margin-bottom: 10px;">
                           <div id="timeDiv" class="layui-form-item" style="margin:0;">
                               <div class="layui-input-inline">
                                   <input type="text" name="couponNo" id="couponNo" placeholder="核销码" autocomplete="off" class="layui-input">
                               </div>
                               <div class="layui-input-inline">
                                   <input type="text" name="memberId" id="memberId" placeholder="会员ID" autocomplete="off" class="layui-input">
                               </div>
                               <div class="layui-input-inline">
                                   <select name="status" id="status" lay-search="">
                                       <option value="">状态</option>
                                       <option value="0">未使用</option>
                                       <option value="1">已使用</option>
                                       <option value="2">已过期</option>
                                   </select>
                               </div>
                               <div class="layui-input-inline">
                                   <button id="search" class="layui-btn" data-type="reload">搜索</button>
                               </div>
                           </div>
                       </div>
                   </form>
                </div>
                <table id="recordList" lay-filter="recordList"></table>
                <div class="layui-form-item" style="margin-left: 1%">
                    <div class="layui-input-inline">
                        <a class="layui-btn" lay-href="/account/coupon/">返回</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

     var tplStatus = function(d){
         if(d.status == 0) {
             return '<span class="layui-badge layui-bg-orange">未使用</span>';
         } else if(d.status == 1) {
             return '<span class="layui-badge layui-bg-green">已使用</span>';
         } else if(d.status == 2) {
             return '<span class="layui-badge layui-bg-red">已过期</span>';
         }
     };

	 layui.config({
	    base: '/x_mch/src/lib/extend/',
	 });
     layui.use(['table','util','admin'], function(){
        var table = layui.table
        ,$ = layui.$
        ,admin = layui.admin
        ,element = layui.element
        ,form = layui.form;

        element.render('breadcrumb', 'breadcrumb');//渲染导航信息
        var couponId = layui.router().search.couponId;

        table.render({
            elem: '#recordList'
            ,id: "tableReload"
            ,url: layui.setter.baseUrl + '/member_coupon/getCouponRecord'
            ,where:{
                couponId: couponId
            }
            ,cols: [[
                {field: 'couponNo', title: '核销码'}
                ,{field: 'memberId',title: '会员ID'}
                ,{field: 'status',title: '状态', templet: tplStatus}
                ,{field: 'remark',title: '备注'}
                ,{field: 'validateEnd',title: '有效期至', templet: '<div>{{ layui.util.toDateString(d.validateEnd) }}</div>'}
                ,{field: 'createTime',  title: '时间', width: 180, templet: '<div>{{ layui.util.toDateString(d.createTime) }}</div>' }
            ]]
            ,page: true
            ,skin: 'line'
        });

         // 搜索
         var $ = layui.$, active = {
             reload: function(){
                 var couponNo = $('#couponNo').val().trim();
                 var status = $('#status').val();
                 var memberId = $('#memberId').val();
                 //执行重载
                 table.reload('tableReload', {
                     page: {
                         curr: 1 //重新从第 1 页开始
                     }
                     ,where: {
                         couponNo: couponNo,
                         status: status,
                         memberId: memberId,
                         couponId: couponId
                     }
                 });
             }
         };

         $('#search').on('click', function() {
             var type = $(this).data('type');
             active[type] ? active[type].call(this) : '';
             return false;
         });

         // 渲染表单
         form.render();
        
     })
</script>