<style>
    .layui-input-inline{margin-top:10px;}
</style>
<div class="layui-card-header layui-card">
    <span class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">首页</a>
        <a><cite>资金流水</cite></a>
    </span>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">资金流水列表</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-row" style="margin-bottom:1%">
                   <form action="" id="exportForm" method="post">
                    <input name="Authorization" id='exportHiddenInput' type="hidden"/>
                    <div class="layui-form" style="float:right;">
                        <div id="timeDiv" class="layui-form-item" style="margin:0;">
		                  <div class="layui-input-inline">
		                    <input type="text" name="orderId" id="orderId" placeholder="业务单号" autocomplete="off" class="layui-input">
		                  </div>
		                  <div class="layui-input-inline">
		                    <select name="fundDirection" id="fundDirection" lay-search="">
		                      <option value="">资金变动方向</option>
		                      <option value="1">加款</option>
		                      <option value="2">减款</option>
		                    </select>
		                  </div>
		                  <div class="layui-input-inline">
		                    <select name="bizType" id="bizType" lay-search="">
		                      <option value="">业务类型</option>
		                      <option value="1">支付</option>
		                      <option value="2">提现</option>
		                      <option value="3">调账</option>
		                      <option value="4">充值</option>
		                      <option value="5">差错处理</option>
		                      <option value="6">代付</option>
		                    </select>
		                  </div>
                          <div class="layui-input-inline">
                            <button id="search" class="layui-btn" data-type="reload">搜索</button>
                            <button type="submit" class="layui-btn">导出</button>
                          </div>
                        </div>
                    </div>
                   </form>
                </div>
                <table id="zjlsList"></table>
            </div>
        </div>
    </div>
</div>
<script>
	layui.config({
	    base: '/x_agent/src/lib/extend/',
	});
     //标题内容模板
     var tplTitle = function(d){
        return '<a class="layui-btn layui-btn-xs layui-btn-primary" lay-href="account/history/detail/id='+ d.id +'">查看</a> '
     };

     layui.use(['table','util','form','timePick'], function(){
        var table = layui.table
        ,$ = layui.$
        ,timePick = layui.timePick
        ,form = layui.form
        ,element = layui.element;

		timePick.init();  //第一个参数表示开始时间   第二个表示结束时间   0,0今天   -1,-1昨天   -7,0近一周   以此类推
        element.render('breadcrumb', 'breadcrumb');//渲染导航信息

         //导出参数初始化
         var tokenParamsName = layui.setter.request.tokenName;
         $('#exportHiddenInput').attr('name', tokenParamsName).val(layui.data(layui.setter.tableName)[tokenParamsName]);
         $('#exportForm').attr('action' , layui.setter.baseUrl+'/account/exportExcel');

         var tplAmount = function(d){
             if(d.fundDirection == 1) {
                 return "<span style='color: darkgreen'>+ " + d.changeAmount/100 + "</span>";
             }else if(d.fundDirection == 2) {
                 return "<span style='color: orangered'>- " +  d.changeAmount/100 + "</span>";
             }
         };

		var createTimeStart = $('#createTimeStart').val();
        var createTimeEnd = $('#createTimeEnd').val();
        table.render({
            elem: '#zjlsList'
            ,url: layui.setter.baseUrl + '/account/history_list'
            ,where: {
	            "ps[createTimeStart]": createTimeStart,
	            "ps[createTimeEnd]" : createTimeEnd
	        }
            ,id: 'tableReload'
            ,cols: [[
                {field:'id', title: '流水ID', sort: true }
                ,{title: '变更前余额(元)',templet: '<div>{{d.balance/100}}</div>'}
                ,{title: '变更金额(元)',templet: tplAmount}
                ,{title: '变更后余额(元)',templet: '<div>{{d.afterBalance/100}}</div>'}
                ,{title: '业务类型',templet: '<div>{{d.bizType == 1?"支付":d.bizType == 2?"提现":d.bizType == 3?"调账":d.bizType == 6?"代付":d.bizType == 7?"分润":""}}</div>'}
                ,{title: '业务类目',templet: '<div>{{d.bizItem == 10?"余额":d.bizItem == 20?"支付":d.bizItem == 21?"代付":d.bizItem == 22?"线下充值":d.bizItem == 23?"线上充值":""}}</div>'}
                ,{field: 'bizOrderId',title: '业务订单' ,width: 270}
                ,{title: '时间', templet: '<div>{{ layui.util.toDateString(d.createTime) }}</div>' }
                ,{title: '操作', templet: tplTitle }
            ]]
            ,page: true
            ,skin: 'line'
        });

        // 搜索
        var $ = layui.$, active = {
            reload: function(){
                var createTimeStart = $('#createTimeStart').val();
	            var createTimeEnd = $('#createTimeEnd').val();
	            var bizType = $("#bizType").val();
	            var orderId = $('#orderId').val();
	            var fundDirection = $("#fundDirection").val();
                //执行重载
                table.reload('tableReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        orderId: orderId,
              			fundDirection: fundDirection,
                        bizType : bizType,
                        "ps[createTimeStart]": createTimeStart,
                        "ps[createTimeEnd]" : createTimeEnd
                    }
                });
            }
        };
        $('#search').on('click', function() {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
            return false;
        });

        // 渲染表单
        form.render();


     })
</script>