<div class="layui-card-header layui-card">
    <span class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">首页</a>
        <a><cite>二维码信息</cite></a>
    </span>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">详情信息</li>
            </ul>
            <div class="layui-tab-content">
                <table class="layui-table" id="ewmList"></table>
                <a lay-href= "account/app/list" class="layui-btn" style="margin-left:10%;">返回</a>
            </div>
        </div>
    </div>
</div>
<style>
    table{
        text-align: center;
    }
    .leftT {
        text-align: left;
    }
</style>
<script>
    layui.use(['table','util','admin'], function(){
        var table = layui.table
        ,$ = layui.$
        ,admin = layui.admin
        ,element = layui.element;

        element.render('breadcrumb', 'breadcrumb');//渲染导航信息


        var apid = layui.router().search.id;


        admin.req({
            type:'get',
            url: layui.setter.baseUrl + '/mch_qrcode/get',
            data: {
                id:apid
            },
            error: function(err){
                layer.alert(err)
            },
            success: function(res){
                if(res.code == 0){
                    var html = '';
                   
                    html += `
                        <table>
                            <colgroup>
                                <col width="25%">
                                <col>
                                <col width="25%">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td>扫码ID</td>
                                    <td class="leftT">${res.data.id}</td>
                                    <td>商户ID</td>
                                    <td class="leftT">${res.data.mchId}</td>
                                </tr>
                                <tr>
                                    <td>应用ID</td>
                                    <td class="leftT">${res.data.appId}</td>
                                    <td>支持的扫码支付渠道</td>
                                    <td class="leftT">${JSON.parse(res.data.channels)}</td>
                                </tr>
                                <tr>
                                    <td>二维码名称</td>
                                    <td class="leftT">${res.data.codeName}</td>
                                    <td>支持最小金额</td>
                                    <td class="leftT">${res.data.minAmount/100}</td>
                                </tr>
                                <tr>
                                    <td>创建时间</td>
                                    <td class="leftT">${ layui.util.toDateString(res.data.createTime) }</td>
                                    <td>修改时间</td>
                                    <td class="leftT">${ layui.util.toDateString(res.data.updateTime) }</td>
                                </tr>
                                <tr>
                                    <td>支持最大金额</td>
                                    <td class="leftT">${res.data.maxAmount/100}</td>
                                </tr>
                            </tbody>
                        </table>
                    `
                    $('#ewmList').html(html);
                }else {
                    layer.alert('请求数据失败');
                }
            }

        })

    })
</script>