<div class="layui-card-header layui-card">
    <span class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">首页</a>
        <a><cite>设备配置</cite></a>
    </span>
</div>
<style>
    .layui-form-item {
        margin-left: 30%;
    }
    .layui-form-item-btn {
        margin-left: 44%;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <form class="layui-form layui-form-pane">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">云喇叭配置</li>
                </ul>
                <div class="layui-tab-content">
                    <input type="hidden" id="id" name="id" />
                    <div class="layui-form-item">
                        <label class="layui-form-label">客户编号</label>
                        <div class="layui-input-inline">
                            <input type="text" required id="userId" name="userId" lay-verify="required" placeholder="输入客户编号" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label">客户密码</label>
                        <div class="layui-input-inline">
                            <input type="text" required id="userPassword" name="userPassword" lay-verify="required" placeholder="输入客户密码" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">厂商</label>
                        <div class="layui-input-inline">
                            <input type="text" required id="manufacturer" name="manufacturer" placeholder="输入厂商" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-inline">
                            <input type="radio" name="status" value="1" title="启用" checked="checked">
                            <input type="radio" name="status" value="0" title="关闭">
                        </div>
                    </div>
                    <div class="layui-form-item-btn">
                        <div class="layui-input-inline">
                            <button type="button" class="layui-btn" lay-submit="" lay-filter="saveConfig">保存设置</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form','util','admin'], function(){
       var form = layui.form
       ,$ = layui.$
       ,admin = layui.admin
       ,element = layui.element;

       element.render('breadcrumb', 'breadcrumb');//渲染导航信息

        admin.req({
            type: 'get',
            url: layui.setter.baseUrl + '/speaker_config/get',
            error: function(err){
                layer.alert(err);
            },
            success: function(res){
                if(res.code == 0 ){
                    $('#id').val(res.data.id);

                    $("input[name='status'][value='"+res.data.status+"']").attr("checked",true);

                    $('#userId').val(res.data.userId);
                    $('#userPassword').val(res.data.userPassword);
                    $('#manufacturer').val(res.data.manufacturer);

                }else {
                    layer.alert(res.msg,{title: '请求失败'})
                }
                form.render();
            }

        });


        // 当点击微信渠道配置按钮保存的时候
        form.on('submit(saveConfig)', function(data){
            admin.req({
                type: 'post',
                url: layui.setter.baseUrl + '/speaker_config/add', //模拟接口
                data: data.field,
                error: function(err){
                    layer.alert(err.msg,{title:"请求失败"})
                },
                success: function(res){
                    if(res.code == 0){
                        layer.alert(res.msg, {title: '保存成功'},function(index){
                            layer.close(index);
                            location.hash = '/device_config/speaker_config/';
                        });
                    }
                }
            })
        });

       form.render();
       
    })
</script>