<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>下级佣金</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">佣金结算列表</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-row">
                        <div class="layui-form" style="float:right;">
                            <div class="layui-form-item" style="margin:0;">
                                <div class="layui-input-inline">
                                    <input type="text" id="searchAgentId" placeholder="代理商ID" autocomplete="off" class="layui-input">
                                </div>

                                <button id="search" class="layui-btn" data-type="reload">搜索</button>
                            </div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layuiAdmin-btns" style="margin-bottom: 10px;">
                        </div>
                    </div>
                    <table id="XxPay_Profit_dataAll" lay-filter="XxPay_Profit_dataAll"></table>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['admin', 'table', 'util'], function(){
        var $ = layui.$
            ,admin = layui.admin
            ,table = layui.table
            ,element = layui.element
            ,form = layui.form
            ,view = layui.view;

        element.render('breadcrumb', 'breadcrumb');

        var tplStatus = function(d){
            if(d.settStatus == 1) {
                return "<span style='color: green'>已结算</span>";
            }else if(d.settStatus == 0) {
                return "<span style='color: orange'>待结算</span>";
            }else if(d.settStatus == -1) {
                return "<span>无需结算</span>";
            }
            return "<span style='color: red'>未知</span>";
        };

        var tplEdit = function(d){

            var thisHtml = "<a class='layui-btn layui-btn-primary layui-btn-xs' lay-event='taskDetail'>任务详情</a>"
                + "<a class='layui-btn layui-btn-primary layui-btn-xs' lay-event='profitDetail'>分润明细</a>";

            if(d.settStatus == 0){ //未结算状态
                thisHtml  += "<a class='layui-btn layui-btn-xs' lay-event='sett'>结算</a>";
            }
            return  thisHtml;
        };

        //商户列表
        table.render({
            elem: '#XxPay_Profit_dataAll'
            ,url: layui.setter.baseUrl + '/sub_order_profit/list' //列表接口
            ,id: 'tableReload'
            ,page: true
            ,cols: [[
                {field: 'taskId', title: '结算任务单号'}
                ,{field: 'agentId', title: '代理商ID'}
                ,{field: 'agentName', title: '代理商名称'}
                ,{field: 'allTradeCount', title: '总交易订单数量'}
                ,{title: '总交易金额', templet: "<div>{{ d.allTradeAmount / 100 }}</div>"}
                ,{title: '佣金', templet: "<div>{{ d.allTradeProfitAmount / 100 }}</div>"}
                ,{field: 'createTime', title: '任务执行时间', width: 180, templet: '<div>{{ layui.util.toDateString(d.createTime, "yyyy-MM-dd HH:mm:ss") }}</div>'}
                ,{title: '状态', templet: tplStatus}
                ,{field: 'edit', title: '操作', width: 280, templet: tplEdit }
            ]]
            ,skin: 'line'
        });

        //监听工具条
        table.on('tool(XxPay_Profit_dataAll)', function(obj){
            var data = obj.data;
            if(obj.event === 'taskDetail'){
                view.xxpayPopup("任务详情", "commission/settlement/task_view", {taskId: data.taskId}, {btn: false});
            }else if(obj.event === 'profitDetail'){
                view.xxpayPopup("分润明细", "commission/settlement/profit_detail", {taskId: data.taskId}, {btn: false});
            }else if(obj.event === 'sett'){
                view.xxpayPopup("结算", "commission/settlement/sett", {taskId: data.taskId});
            }
        });


        // 搜索
        var $ = layui.$, active = {
            reload: function(){
                var agentId = $('#searchAgentId').val();
                //执行重载
                table.reload('tableReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        agentId: agentId
                    }
                });
            }
        };
        $('#search').on('click', function() {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });


        // 渲染表单
        form.render();
    });
</script>