<style>
    .xxpayPopupDiv .layui-form-label {
        width:30% !important;
        margin-left:1%;
    }
    .xxpayPopupDiv .layui-input-inline {
        width: 66% !important;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <form class="layui-form layui-form-pane">
            <div class="layui-tab layui-tab-brief">
                <input type="hidden" id="propsCategoryId" name="propsCategoryId">
                <input type="hidden" id="propsId" name="propsId">
                <div class="layui-form-item">
                    <label class="layui-form-label">属性名称</label>
                    <div class="layui-input-inline">
                        <input type="text" id="propsCategoryName" name="propsCategoryName" disabled class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">属性值</label>
                    <div class="layui-input-inline">
                        <input type="text" id="propsValue" name="propsValue" lay-verify="required" placeholder="输入属性值" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <button type="button" class="layui-hide xxpayYesBtn" lay-submit="" id="propsUpdate" lay-filter="propsUpdate">保存</button>
            </div>
        </form>
    </div>
</div>
<script>

    layui.use(['form','view','admin','view'], function(){
        var form = layui.form
            ,$ = layui.$
            ,admin = layui.admin
            ,view = layui.view
            ,element = layui.element;

        element.render('breadcrumb', 'breadcrumb');//渲染导航信息

        // 获取数据
        var propsId = view.getOpenParams('propsId');
        var propsCategoryId = view.getOpenParams('propsCategoryId');

        admin.req({
            type: 'get',
            url: layui.setter.baseUrl + '/mchGoodsProps/category/get',
            data: {
                propsCategoryId: propsCategoryId
            },
            error: function(err){
                layer.alert(err);
            },
            success: function(res){
                if(res.code == 0){
                    $('#propsCategoryId').val(res.data.propsCategoryId);
                    $('#propsCategoryName').val(res.data.propsCategoryName);
                    form.render();
                }
            }
        });

        admin.req({
            type: 'get',
            url: layui.setter.baseUrl + '/mchGoodsProps/get',
            data: {
                propsId: propsId
            },
            error: function(err){
                layer.alert(err);
            },
            success: function(res){
                if(res.code == 0){
                    $('#propsId').val(res.data.propsId);
                    $('#propsValue').val(res.data.propsValue);
                    form.render();
                }
            }
        });

        //监听提交
        form.on('submit(propsUpdate)', function(data){

            // 在这个回调函数里面写ajax提交
            admin.req({
                type: 'post',
                url: layui.setter.baseUrl + '/mchGoodsProps/update',
                data: data.field,
                success: function(res){
                    if(res.code == 0){
                        layer.closeAll(); //关闭所有弹层
                        layer.msg("保存成功");
                        layui.table.reload('tableReload', {page: {curr: 1}}); //调用业务弹层外表格重新加载
                    }
                }
            });
            return false;//阻止跳转
        });

        form.render();
    });


</script>