<div class="layui-card-header layui-card">
    <span class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">首页</a>
        <a><cite>商户代付通道管理</cite></a>
    </span>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">代付通道</li>
            </ul>
            <div class="layui-tab-content">
                <style>
                    .center {
                        width: 80%;
                    }
                </style>
                <table class="layui-hide center" id="cList"></table>
            </div>
        </div>
    </div>
</div>
    <script>
        layui.use(['table','util'], function(){
            var $ = layui.$
            ,admin = layui.admin
            ,table = layui.table
            ,element = layui.element
            ,form = layui.form;

            element.render('breadcrumb', 'breadcrumb');//渲染导航信息

            var router = layui.router();
            var mchId = router.search.mchId;
            
             //标题内容模板
            var tplTitle = function(d){
                return '<a class="layui-btn layui-btn-sm" lay-href="merchant/agentpay_passage/config/mchId='+ mchId +'/agentpayPassageId='+ d.ps.passageId +'">配置</a>'
            };

            var tplStatus = function(d){
                if(d.status == 0) {
                    return "关闭";
                }else if(d.status == 1) {
                    return "<span style='color: green'>开启</span>";
                }

                return "未设置";
            };

            var tplAgentRate = function(d){
                if(d.ps.parentAgentFee == null) { return "-"; }
                return "<span style='color: green'>"+ d.ps.parentAgentFee/100 + "元/笔<span>";
            };

            var tplRate = function(d){
                if(d.fee == null) { return "-"; }
                return "<span style='color: blue'>"+ d.fee/100+"元/笔<span>";

            };

            var tplMaxEveryAmount = function(d){
                if(d.feeRiskConfig == null || d.feeRiskConfig.maxEveryAmount == null ) {
                    return "-";
                }else {
                    return "<span style='color: blue'>"+ d.feeRiskConfig.maxEveryAmount/100 + "元<span>";
                }
            };

            var tplIsDefault = function(d){
                if(d.isDefault == 1) {
                    return '<span class="layui-badge">是</span>';
                }else if(d.isDefault == 0) {
                    return '<span class="layui-badge layui-bg-gray">否</span>';
                }

                return "-";
            };

            table.render({
                elem: '#cList'
                ,url: layui.setter.baseUrl + '/mch_agentpay_passage/list'
                ,where: {mchId: mchId}
                ,cols: [[
                     {title: '通道ID', templet: "<span>{{d.ps.passageId}}</span>"}
                    ,{title: '通道名称', templet: "<span>{{d.ps.passageName}}</span>"}
                    ,{title: '上级代理商费用',templet: tplAgentRate}
                    ,{title: '代付费用',templet: tplRate}
                    ,{title: '默认',templet: tplIsDefault }
                    ,{title: '单笔限额',templet: tplMaxEveryAmount}
                    ,{title: '状态',templet: tplStatus }
                    ,{width: 80, title: '操作', templet: tplTitle }
                ]]
                ,page: false
                ,skin: 'line'
            });
        });
      
    </script>
