<style>
  .margin-top{margin-top:10px;}
</style>
<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>用户管理</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-tab layui-tab-brief">
      <ul class="layui-tab-title">
        <li class="layui-this">用户列表</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
          <div class="layui-row">
            <div class="layui-form" style="float:right;">
              <div class="layui-form-item" style="margin:0;">
                <div class="layui-input-inline margin-top">
                  <input type="text" name="searchUserId" id="searchUserId" autocomplete="off" placeholder="用户ID" class="layui-input">
                </div>
                <div class="layui-input-inline margin-top">
                  <input type="text" name="searchUserName" id="searchUserName" autocomplete="off" placeholder="用户名" class="layui-input">
                </div>
                <div class="layui-input-inline margin-top">
                  <select name="type" id="searchStatus" lay-search="">
                    <option value="-99">状态</option>
                    <option value="1">启用</option>
                    <option value="0">停止</option>
                  </select>
                </div>
                <div class="layui-input-inline margin-top">
                  <button id="search" class="layui-btn" data-type="reload">搜索</button>
                </div>
              </div>
            </div>
          </div>
          <div class="layui-row">
            <div class="layuiAdmin-btns" style="margin: 10px 0;">
              <a class="layui-btn mchUserAddBtn">新增</a>
              <button class="layui-btn" data-type="all" data-events="del">删除</button>
            </div>
          </div>
          <table id="XxPay_Mgr_User_dataAll" lay-filter="XxPay_Mgr_User_dataAll"></table>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/html" id="xxpayBar">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="userRole">分配角色</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
layui.use(['admin', 'table', 'util'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,table = layui.table
  ,element = layui.element
  ,form = layui.form
  ,view = layui.view;

  element.render('breadcrumb', 'breadcrumb');

  var tplStatus = function(d){

      var checkedHtml = " recordId='"+d.userId+"' ";
      if(d.status == 1) {
          checkedHtml += " checked";
      }
      return '<input type="checkbox" lay-filter="statusSwitch" lay-skin="switch" '+checkedHtml+' lay-text="启用|停用">';
  };

  var tplUserName = function(d){
    if(d.isSuperAdmin == 1) {
      return d.loginUserName + " <span class='layui-badge'>商户</span> ";
    }
    return d.loginUserName;
  };

  //用户列表
  table.render({
    elem: '#XxPay_Mgr_User_dataAll'
    ,url: layui.setter.baseUrl + '/subuser/list' //用户列表接口
    ,id: 'tableReload'
    ,page: true
    ,cols: [[
      {type: 'checkbox', fixed: 'left'}
      ,{field: 'userId', title: '员工ID'}
      ,{title: '用户登录名', templet: tplUserName}
      ,{field: 'nickName', title: '员工姓名'}
      ,{field: 'mobile', title: '手机号'}
      ,{field: 'storeId', title: '门店ID'}
      ,{field: 'storeName', title: '门店名称'}
      ,{field: 'status', title: '状态', templet: tplStatus}
      ,{field: 'createTime', title: '创建时间', templet: '<div>{{ layui.util.toDateString(d.createTime, "yyyy-MM-dd HH:mm:ss") }}</div>'}
      ,{field: 'edit', width:260, title: '操作', toolbar: '#xxpayBar' }
    ]]
    ,skin: 'line'
  });

  //监听工具条
  table.on('tool(XxPay_Mgr_User_dataAll)', function(obj){
    var data = obj.data;
    if(obj.event === 'detail'){
      view.xxpayPopup("查看员工信息", "sub_user/user/user_view", {userId: data.userId}, {btn:false});
    } else if(obj.event === 'del'){
      layer.confirm('确认删除么', function(index){
        admin.req({
          type: 'get',
          url: layui.setter.baseUrl + '/subuser/delete',
          data: {
            userIds: data.userId,
          },
          success: function(res){
            if(res.code == 0) {
              layer.msg('删除成功', {
                icon: 1
              });
              table.reload("tableReload");
            }
          }
        });
      });
    } else if(obj.event === 'edit'){
      view.xxpayPopup("修改员工信息", "sub_user/user/user_edit", {userId: data.userId, storeId: data.storeId});
    } else if(obj.event === 'userRole'){
      view.xxpayPopup("分配员工角色", "sub_user/user/user_role_save", {userId: data.userId});
    }
  });


  // 搜索
  var $ = layui.$, active = {
    reload: function(){
      var userId = $('#searchUserId').val();
      var userName = $("#searchUserName").val();
      var status = $("#searchStatus").val();
      //执行重载
      table.reload('tableReload', {
        page: {
          curr: 1 //重新从第 1 页开始
        }
        ,where: {
          userId: userId,
          userName: userName,
          status : status
        }
      });
    }
  };
  $('#search').on('click', function() {
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });


  form.on('switch(statusSwitch)', function(data){

      var updateRecordId = $(data.elem).attr('recordId');
      var updateState = data.elem.checked ? "1" : "0";
      var loadingIndex = layer.load();
      admin.req({
          type: "POST",
          url: layui.setter.baseUrl + '/subuser/update',
          data: {userId: updateRecordId, status: updateState},
          success: function(res){
              if(res.code == 0) {
                  table.reload('tableReload');
              }
          },
          complete:function(){
              layer.close(loadingIndex);
          }
      });
  });

  $('.mchUserAddBtn').click(function(){
      view.xxpayPopup("新增员工", "sub_user/user/user_add");
  });


  // 事件处理
  var events = {
    del: function(othis, type){
      var checkStatus = table.checkStatus("tableReload")
      ,data = checkStatus.data; //获得选中的数据
      if(data.length === 0) return layer.msg('请选择数据');
      console.log(data);
      layer.confirm('确定删除选中的数据吗？', function(){
        var userIds = "";
        $.each(data, function(i, n){
          userIds = userIds + "," + n.userId;
        });
        console.log("userIds");
        if(userIds != "") {
          userIds = userIds.substring(1);
        }
        admin.req({
          type: 'get',
          url: layui.setter.baseUrl + '/subuser/delete',
          data: {
            userIds: userIds,
          },
          success: function(res){
            if(res.code == 0) {
              layer.msg('删除成功', {
                icon: 1
              });
              table.reload("tableReload");
            }
          }
        });
      });
    }
  };
  $('.layuiAdmin-btns .layui-btn').on('click', function(){
    var othis = $(this)
            ,thisEvent = othis.data('events')
            ,type = othis.data('type');
    events[thisEvent] && events[thisEvent].call(this, othis, type);
  });
  // 渲染表单
  form.render();
});
</script>