<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>转账订单</cite></a>
        <a><cite>查看订单</cite></a>
    </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-tab layui-tab-brief">
      <ul class="layui-tab-title">
        <li class="layui-this">订单详情</li>
      </ul>
      <div class="layui-tab-content">
          <form class="layui-form layui-form-pane" action="">
              <div class="layui-row">
                  <div class="layui-col-xs6">
                      <div class="layui-form-item">
                          <label class="layui-form-label">转账订单号</label>
                          <div class="layui-input-block">
                              <input type="text" id="transOrderId" disabled="disabled" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">商户订单号</label>
                          <div class="layui-input-block">
                              <input type="text" id="mchOrderNo" disabled="disabled" class="layui-input">
                          </div>
                      </div>

                      <div class="layui-form-item">
                          <label class="layui-form-label">支付金额</label>
                          <div class="layui-input-block">
                              <input type="text" id="amount" disabled="disabled" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">币种</label>
                          <div class="layui-input-block">
                              <input type="text" id="currency" disabled="disabled" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">支付状态</label>
                          <div class="layui-input-block">
                              <input type="text" id="status" disabled="disabled" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">客户端IP</label>
                          <div class="layui-input-block">
                              <input type="text" id="clientIp" disabled="disabled" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">设备</label>
                          <div class="layui-input-block">
                              <input type="text" id="device" disabled="disabled" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">商品标题</label>
                          <div class="layui-input-block">
                              <input type="text" id="subject" disabled="disabled" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">商品描述 </label>
                          <div class="layui-input-block">
                              <input type="text" id="body" disabled="disabled" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">渠道用户</label>
                          <div class="layui-input-block">
                              <input type="text" id="channelUser" disabled="disabled" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">渠道商户ID</label>
                          <div class="layui-input-block">
                              <input type="text" id="channelMchId" disabled="disabled" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">渠道订单号</label>
                          <div class="layui-input-block">
                              <input type="text" id="channelOrderNo" disabled="disabled" class="layui-input">
                          </div>
                      </div>
                  </div>
                  <div class="layui-col-xs6">
                      <div class="layui-form-item">
                          <label class="layui-form-label">商户ID</label>
                          <div class="layui-input-block">
                              <input type="text" id="mchId" disabled="disabled" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">应用ID</label>
                          <div class="layui-input-block">
                              <input type="text" id="appId" disabled="disabled" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">渠道ID</label>
                          <div class="layui-input-block">
                              <input type="text" id="channelId" disabled="disabled" class="layui-input">
                          </div>
                      </div>

                      <div class="layui-form-item">
                          <label class="layui-form-label">错误码</label>
                          <div class="layui-input-block">
                              <input type="text" id="errCode" disabled="disabled" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">错误描述</label>
                          <div class="layui-input-block">
                              <input type="text" id="errMsg" disabled="disabled" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">扩展参数1</label>
                          <div class="layui-input-block">
                              <input type="text" id="param1" disabled="disabled" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">扩展参数2</label>
                          <div class="layui-input-block">
                              <input type="text" id="param2" disabled="disabled" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">通知地址</label>
                          <div class="layui-input-block">
                              <input type="text" id="notifyUrl" disabled="disabled" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">失效时间</label>
                          <div class="layui-input-block">
                              <input type="text" id="expireTime" disabled="disabled" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">成功时间</label>
                          <div class="layui-input-block">
                              <input type="text" id="paySuccTime" disabled="disabled" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">创建时间</label>
                          <div class="layui-input-block">
                              <input type="text" id="createTime" disabled="disabled" class="layui-input">
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <label class="layui-form-label">更新时间</label>
                          <div class="layui-input-block">
                              <input type="text" id="updateTime" disabled="disabled" class="layui-input">
                          </div>
                      </div>
                  </div>
              </div>
              <div class="layui-form-item">
                  <label class="layui-form-label">扩展参数</label>
                  <div class="layui-input-block">
                      <input type="text" id="extra" disabled="disabled" class="layui-input">
                  </div>
              </div>
              <div class="layui-form-item">
                  <div class="layui-input-block">
                      <a class="layui-btn" lay-href="order/pay/">返回</a>
                  </div>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>

<script>
    layui.use(['admin','form'],function(){
        var form = layui.form
        ,$ = layui.$
        ,admin = layui.admin
        ,element = layui.element
        ,layer = layui.layer ;
        // 导航
        element.render('breadcrumb', 'breadcrumb');
        var transOrderId = location.href.split('?')[1];
        admin.req({
            type: 'get',
            url: layui.setter.baseUrl + '/trans_order/get',
            data: {
                transOrderId : transOrderId
            },
            error: function(err){
                layer.alert(JSON.stringify(err.field), {
                    title: '错误提示'
                })
            },
            success: function(res){
                if(res.code == 0){
                    $('#transOrderId').val(res.data.transOrderId);
                    $('#mchId').val(res.data.mchId);
                    $('#appId').val(res.data.appId);
                    $('#mchOrderNo').val(res.data.mchOrderNo);
                    $('#channelId').val(res.data.channelId);
                    $('#amount').val(res.data.amount);
                    if(res.data.currency == "cny") {
                        $('#currency').val("人民币");
                    }
                    if(res.data.status == 0) {
                        $('#status').val("订单生成");
                    }else if(res.data.status == 1) {
                        $('#status').val("支付中");
                    }else if(res.data.status == 2) {
                        $('#status').val("支付成功");
                    }
                    $('#clientIp').val(res.data.clientIp);
                    $('#device').val(res.data.device);
                    $('#subject').val(res.data.subject);
                    $('#body').val(res.data.body);
                    $('#extra').val(res.data.extra);
                    $('#channelUser').val(res.data.channelUser);
                    $('#channelMchId').val(res.data.channelMchId);
                    $('#channelOrderNo').val(res.data.channelOrderNo);
                    $('#errCode').val(res.data.errCode);
                    $('#errMsg').val(res.data.errMsg);
                    $('#param1').val(res.data.param1);
                    $('#aram2').val(res.data.param2);
                    $('#notifyUrl').val(res.data.notifyUrl);
                    if(res.data.expireTime != "" && res.data.expireTime != null) {
                        $('#expireTime').val(layui.util.toDateString(res.data.expireTime));
                    }
                    if(res.data.paySuccTime != "" && res.data.paySuccTime != null) {
                        $('#paySuccTime').val(layui.util.toDateString(res.data.paySuccTime));
                    }
                    if(res.data.createTime != "" && res.data.createTime != null) {
                        $('#createTime').val(layui.util.toDateString(res.data.createTime));
                    }
                    if(res.data.updateTime != "" && res.data.updateTime != null) {
                        $('#updateTime').val(layui.util.toDateString(res.data.updateTime));
                    }
                    form.render();
                }
            }
        })
    })
</script>