<style>
  .layui-form-item {
    margin-bottom: 0;
  }
  .reg-suc-tips {
    font-size: 16px;
    font-family: "PingFang SC";
    font-weight: 500;
    line-height: 25px;
    color: rgba(0,0,0,0.6);
  }
  .reg-suc-back {
    height: 52px;
    line-height: 52px;
    background: rgba(1,103,255,1);
    border-radius: 5px;
    font-size: 16px;
  }
</style>
<script type="text/html" template>
  <link rel="stylesheet" href="{{ layui.setter.base }}style/login.css?v={{ layui.admin.v }}-1" media="all">
</script>

<div class="login2-flex-row">
  <div class="login2-main" style="height:300px;margin-bottom: 60px;margin-top: 10%;">

    <div class="login2-flex-row" style="margin-top: 40px;">

      <div class="login2-title" style="width: auto;">注册成功</div>
    </div>
    <div class="login2-flex-row" style="margin: 30px 0">
      <div class="reg-suc-tips">工作人员会24小时内审核您的信息</div>
    </div>

    <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
      <div class="layui-form-item">
        <a lay-href="/user/reg" class="layui-btn layui-btn-fluid reg-suc-back login2-opacity05" lay-submit lay-filter="LAY-user-reg-submit">返回</a>
      </div>
    </div>
  </div>

</div>