<style>
    .layui-layer-content{
        position: relative;
    }
    .btn-group-bottom{
        position: absolute;
        bottom: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
                <table id="goodsList" lay-filter="goodsList"></table>
            </div>
        </div>
    </div>
</div>
<div class="layui-row btn-group-bottom">
    <div class="layuiAdmin-btns" style="margin-bottom: 10px;">
        <a class="layui-btn layui-btn-normal" data-type="all" data-events="addGoods">确认添加</a>
        <a class="layui-btn layui-btn-primary" data-type="all" data-events="cancel">取消</a>
    </div>
</div>
<script>

    var tplStatus = function(d){
        if(d.status == 0) {
            return '<span class="layui-badge layui-bg-red">下架</span>';
        }else if(d.status == 1) {
            return '<span class="layui-badge layui-bg-green">上架</span>';
        }else if(d.status == 2) {
            return '<span class="layui-badge layui-bg-orange">售罄</span>';
        }
    };
   
    layui.use(['form','admin', 'table', 'view'], function(){
        var form = layui.form
        ,$ = layui.$
        ,table = layui.table
        ,view = layui.view
        ,element = layui.element;

        element.render('breadcrumb', 'breadcrumb');//渲染导航信息

        var authFrom = view.getOpenParams('authFrom');
        table.render({
            elem: '#goodsList'
            ,id: "tableReload"
            ,url: layui.setter.baseUrl + '/mchGoods/list'
            ,where: {
                authFrom: authFrom
            }
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field: 'goodsId', title: '商品ID'}
                ,{field: 'goodsName',title: '商品名称'}
                ,{field: 'cellingPrice',title: '售价', templet: '<div>{{ (d.cellingPrice/100) }}</div>>'}
                ,{field: 'status',title: '状态',templet: tplStatus}
            ]]
            ,page: true
            ,skin: 'line'
        });

        // 事件处理
        var events = {
            addGoods: function(othis, type){
                var checkStatus = table.checkStatus("tableReload")
                    ,data = checkStatus.data; //获得选中的数据
                if(data.length === 0) return layer.msg('请选择数据');
                if(data.length > 1) return layer.msg('只能选择一个商品');
                var subGoodsId = "";
                $.each(data, function(i, n){
                    subGoodsId = n.goodsId;
                });
                $("#value").val("/pages/classify/productDetails/productDetails?goodsId=" + subGoodsId);
                layer.closeAll(); //关闭所有弹层
            },
            cancel: function () {
                layer.closeAll(); //关闭所有弹层
            }
        };

        $('.layuiAdmin-btns .layui-btn').on('click', function(){
            var othis = $(this)
                ,thisEvent = othis.data('events')
                ,type = othis.data('type');
            events[thisEvent] && events[thisEvent].call(this, othis, type);
        });

    });

</script>