<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xxpay.service.dao.mapper.MemberOpenidRelaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.xxpay.core.entity.MemberOpenidRela">
        <id column="MemberId" property="MemberId" />
        <result column="WxOpenId" property="wxOpenId" />
        <result column="WxOpenIdFrom" property="wxOpenIdFrom" />
        <result column="MchId" property="mchId" />
    </resultMap>

</mapper>
