<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xxpay.service.dao.mapper.PayProductMapper" >
  <resultMap id="BaseResultMap" type="org.xxpay.core.entity.PayProduct" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ProductName" property="productName" jdbcType="VARCHAR" />
    <result column="PayType" property="payType" jdbcType="VARCHAR" />
    <result column="Status" property="status" jdbcType="TINYINT" />
    <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="AgentRate" property="agentRate" jdbcType="DECIMAL" />
    <result column="MchRate" property="mchRate" jdbcType="DECIMAL" />
    <result column="IfMode" property="ifMode" jdbcType="TINYINT" />
    <result column="PayPassageId" property="payPassageId" jdbcType="INTEGER" />
    <result column="PayPassageAccountId" property="payPassageAccountId" jdbcType="INTEGER" />
    <result column="PollParam" property="pollParam" jdbcType="VARCHAR" />
    <result column="ProductType" property="productType" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, ProductName, PayType, Status, CreateTime, UpdateTime, AgentRate, MchRate, IfMode,
    PayPassageId, PayPassageAccountId, PollParam, ProductType
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.xxpay.core.entity.PayProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_pay_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_pay_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_pay_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.xxpay.core.entity.PayProductExample" >
    delete from t_pay_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.xxpay.core.entity.PayProduct" >
    insert into t_pay_product (id, ProductName, PayType, 
      Status, CreateTime, UpdateTime,
      AgentRate, MchRate, IfMode,
      PayPassageId, PayPassageAccountId, PollParam,
      ProductType)
    values (#{id,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{payType,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{agentRate,jdbcType=DECIMAL}, #{mchRate,jdbcType=DECIMAL}, #{ifMode,jdbcType=TINYINT},
      #{payPassageId,jdbcType=INTEGER}, #{payPassageAccountId,jdbcType=INTEGER}, #{pollParam,jdbcType=VARCHAR},
      #{productType,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="org.xxpay.core.entity.PayProduct" >
    insert into t_pay_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productName != null" >
        ProductName,
      </if>
      <if test="payType != null" >
        PayType,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="createTime != null" >
        CreateTime,
      </if>
      <if test="updateTime != null" >
        UpdateTime,
      </if>
      <if test="agentRate != null" >
        AgentRate,
      </if>
      <if test="mchRate != null" >
        MchRate,
      </if>
      <if test="ifMode != null" >
        IfMode,
      </if>
      <if test="payPassageId != null" >
        PayPassageId,
      </if>
      <if test="payPassageAccountId != null" >
        PayPassageAccountId,
      </if>
      <if test="pollParam != null" >
        PollParam,
      </if>
      <if test="productType != null" >
        ProductType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="agentRate != null" >
        #{agentRate,jdbcType=DECIMAL},
      </if>
      <if test="mchRate != null" >
        #{mchRate,jdbcType=DECIMAL},
      </if>
      <if test="ifMode != null" >
        #{ifMode,jdbcType=TINYINT},
      </if>
      <if test="payPassageId != null" >
        #{payPassageId,jdbcType=INTEGER},
      </if>
      <if test="payPassageAccountId != null" >
        #{payPassageAccountId,jdbcType=INTEGER},
      </if>
      <if test="pollParam != null" >
        #{pollParam,jdbcType=VARCHAR},
      </if>
      <if test="productType != null" >
        #{productType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.xxpay.core.entity.PayProductExample" resultType="java.lang.Integer" >
    select count(*) from t_pay_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_pay_product
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.productName != null" >
        ProductName = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.payType != null" >
        PayType = #{record.payType,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        Status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        CreateTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UpdateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.agentRate != null" >
        AgentRate = #{record.agentRate,jdbcType=DECIMAL},
      </if>
      <if test="record.mchRate != null" >
        MchRate = #{record.mchRate,jdbcType=DECIMAL},
      </if>
      <if test="record.ifMode != null" >
        IfMode = #{record.ifMode,jdbcType=TINYINT},
      </if>
      <if test="record.payPassageId != null" >
        PayPassageId = #{record.payPassageId,jdbcType=INTEGER},
      </if>
      <if test="record.payPassageAccountId != null" >
        PayPassageAccountId = #{record.payPassageAccountId,jdbcType=INTEGER},
      </if>
      <if test="record.pollParam != null" >
        PollParam = #{record.pollParam,jdbcType=VARCHAR},
      </if>
      <if test="record.productType != null" >
        ProductType = #{record.productType,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_pay_product
    set id = #{record.id,jdbcType=INTEGER},
      ProductName = #{record.productName,jdbcType=VARCHAR},
      PayType = #{record.payType,jdbcType=VARCHAR},
      Status = #{record.status,jdbcType=TINYINT},
      CreateTime = #{record.createTime,jdbcType=TIMESTAMP},
      UpdateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      AgentRate = #{record.agentRate,jdbcType=DECIMAL},
      MchRate = #{record.mchRate,jdbcType=DECIMAL},
      IfMode = #{record.ifMode,jdbcType=TINYINT},
      PayPassageId = #{record.payPassageId,jdbcType=INTEGER},
      PayPassageAccountId = #{record.payPassageAccountId,jdbcType=INTEGER},
      PollParam = #{record.pollParam,jdbcType=VARCHAR},
      ProductType = #{record.productType,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.xxpay.core.entity.PayProduct" >
    update t_pay_product
    <set >
      <if test="productName != null" >
        ProductName = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        PayType = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="agentRate != null" >
        AgentRate = #{agentRate,jdbcType=DECIMAL},
      </if>
      <if test="mchRate != null" >
        MchRate = #{mchRate,jdbcType=DECIMAL},
      </if>
      <if test="ifMode != null" >
        IfMode = #{ifMode,jdbcType=TINYINT},
      </if>
      <if test="payPassageId != null" >
        PayPassageId = #{payPassageId,jdbcType=INTEGER},
      </if>
      <if test="payPassageAccountId != null" >
        PayPassageAccountId = #{payPassageAccountId,jdbcType=INTEGER},
      </if>
      <if test="pollParam != null" >
        PollParam = #{pollParam,jdbcType=VARCHAR},
      </if>
      <if test="productType != null" >
        ProductType = #{productType,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.xxpay.core.entity.PayProduct" >
    update t_pay_product
    set ProductName = #{productName,jdbcType=VARCHAR},
      PayType = #{payType,jdbcType=VARCHAR},
      Status = #{status,jdbcType=TINYINT},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      AgentRate = #{agentRate,jdbcType=DECIMAL},
      MchRate = #{mchRate,jdbcType=DECIMAL},
      IfMode = #{ifMode,jdbcType=TINYINT},
      PayPassageId = #{payPassageId,jdbcType=INTEGER},
      PayPassageAccountId = #{payPassageAccountId,jdbcType=INTEGER},
      PollParam = #{pollParam,jdbcType=VARCHAR},
      ProductType = #{productType,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>