<div class="layui-card-header layui-card">
    <span class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">首页</a>
        <a><cite>商户管理</cite></a>
    </span>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">代付通道</li>
            </ul>
            <div class="layui-tab-content">
                <style>
                    .center {
                        width: 80%;
                    }
                </style>
                <table class="layui-hide center" id="cList"></table>
            </div>
        </div>
    </div>
</div>
    <script>
        layui.use(['table','util'], function(){
            var $ = layui.$
            ,admin = layui.admin
            ,table = layui.table
            ,element = layui.element
            ,form = layui.form;

            element.render('breadcrumb', 'breadcrumb');//渲染导航信息

            var router = layui.router();
            var mchId = router.search.mchId;
            
             //标题内容模板
            var tplTitle = function(d){
                return '<a class="layui-btn layui-btn-sm" lay-href="biz/agpay_passage/config/mchId='+ mchId +'/agentpayPassageId='+ d.agentpayPassageId +'">配置</a>'
            };

            var tplStatus = function(d){
            	if(!d.ps || typeof(d.ps.mchStatus) == 'undefined' ){
            		return "未设置";
            	}
                if(d.ps.mchStatus == 0) {
                    return "关闭";
                }else if(d.ps.mchStatus == 1) {
                    return "<span style='color: green'>开启</span>";
                }
            };
            
            var tplAgentStatus = function(d){
                if(d.status == 0) {
                    return "关闭";
                }else if(d.status == 1) {
                    return "<span style='color: green'>开启</span>";
                }
            };
            

            var tplAgentRate = function(d){
                if(d.feeEvery == null) {
                    return "未设置";
                }else {
                    return "<span style='color: green'>"+ d.feeEvery/100 + "元/笔<span>";
                }
            };

            var tplRate = function(d){
            	if(!d.ps || typeof(d.ps.mchFeeEvery) == 'undefined' ){
            		return "未设置";
            	} 
                return "<span style='color: blue'>"+ d.ps.mchFeeEvery/100+"元/笔<span>";
            };

            var tplMaxEveryAmount = function(d){
            	if(!d.ps || typeof(d.ps.maxEveryAmount) == 'undefined' ){
            		return "未设置";
            	}else {
                    return "<span style='color: blue'>"+ d.ps.maxEveryAmount/100 + "元<span>";
                }
            };

            var tplIsDefault = function(d){
            	if(!d.ps || typeof(d.ps.isDefault) == 'undefined' ){
            		return "未设置";
            	}else if(d.ps.isDefault == 1) {
                    return '<span class="layui-badge">是</span>';
                }else if(d.ps.isDefault == 0) {
                    return '<span class="layui-badge layui-bg-gray">否</span>';
                }
            };

            table.render({
                elem: '#cList'
                ,url: layui.setter.baseUrl + '/mch_agpay_passage/list'
                ,where: {mchId: mchId}
                ,cols: [[
                     {field:'agentpayPassageId', title: '通道ID'}
                    ,{title: '通道名称', templet: function(d){return d.ps.passageName;}}
                    ,{title: '代理费用',templet: tplAgentRate}
                    ,{title: '代理状态',templet: tplAgentStatus}
                    ,{title: '商户费用',templet: tplRate}
                    ,{title: '单笔限额',templet: tplMaxEveryAmount}
                    ,{title: '商户状态',templet: tplStatus }
                    ,{title: '商户默认',templet: tplIsDefault }
                    ,{width: 80, title: '操作', templet: tplTitle }
                ]]
                ,page: false
                ,skin: 'line'
            });
        });
      
    </script>
