<style>
    .xxpayPopupDiv .layui-form-label {
        width:120px !important;
        margin-left:1%;
        margin-top: 10px;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <form class="layui-form center">
            <div class="layui-tab layui-tab-brief">
                <div class="layui-tab-content">
                    <input type="hidden" name="id" id="productConfigId">
                    <input type="hidden" name="refProductId" id="refProductId">
                    <div class="layui-form-item">
                        <label class="layui-form-label">支付产品</label>
                        <div class="layui-input-inline">
                            <input type="text" id="payProductInfo" readonly="readonly" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">配置服务商费率(%)</label>
                        <div class="layui-input-inline">
                            <input type="text" name="fee" placeholder="请输入服务商费率" autocomplete="off" class="layui-input" lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">选择支付接口类型</label>
                        <div class="layui-input-inline">
                            <select id="extConfig" lay-verify="required" name="extConfig"></select>
                        </div>
                    </div>
                    <button type="button" class="layui-hide xxpayYesBtn" lay-submit="" lay-filter="saveConfig">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    
    layui.use(['form','table','util','admin','view'],function(){
        var form = layui.form
        , $ = layui.$
        , admin = layui.admin
        , layer = layui.layer 
        , element = layui.element
        , view = layui.view
        , table = layui.table;
        
        element.render('breadcrumb', 'breadcrumb'); //渲染导航信息
        
        var productId = view.getOpenParams('productId');
        $("#refProductId").val(productId);

        /** 1. 查询服务商的配置信息，及相关产品信息 **/
        admin.req({
            type: 'post',
            url: layui.setter.baseUrl + '/pay_product/get',   //获取接口类型
            data: { productId: productId },
            error: function(err){layer.alert(err);},
            success: function(res){
                if(res.code == 0){

                    var payProductInfo = res.data.productName + " [" + res.data.id + "]";
                    $('#payProductInfo').val(payProductInfo);

                    var feeScale = res.data.ps.feeScale;
                    if(feeScale){ //已配置

                        $("#productConfigId").val(feeScale.id);
                        $("input[name='fee']").val(feeScale.fee);
                    }

                    var payType = res.data.payType;
                    var selectVal = feeScale ? feeScale.extConfig : '';

                    //查询服务商所有可配置的通道信息
                    admin.req({
                        type: 'post',
                        url: layui.setter.baseUrl + '/pay_passage/list',   //获取接口类型
                        async: false,
                        data: { limit: -1, queryPayType: payType}, //查询全部数据, 根据payType
                        error: function(err){layer.alert(err);},
                        success: function(res){
                            if(res.code == 0){
                                $.each(res.data, function(){
                                    var selectHtml = selectVal == this.ifTypeCode ? "selected" : '';
                                    $('#extConfig').append("<option "+selectHtml+" value='"+this.ifTypeCode+"'>"+this.passageName+"</option>");
                                });
                            }else{
                                layer.alert(res.msg,{title:"请求失败"})
                            }
                        }
                    });

                    form.render();

                }else{
                    layer.alert(res.msg,{title:"请求失败"})
                }
            }
        });

        form.on('submit(saveConfig)', function(data){

            if(!data.field.extConfig){
                return layer.msg('请选择支付接口类型！', {icon: 5});
            }

            if(!data.field.fee || isNaN(data.field.fee) || data.field.fee >= 100 ){
                return layer.msg('费率设置有误请重新设置！', {icon: 5});
            }

            admin.req({
                type: 'post',
                url: layui.setter.baseUrl + '/pay_product/saveOrUpdate',
                data: data.field,
                error: function(err){layer.alert(err.msg,{title:"请求失败"})},
                success: function(res){
                    if(res.code == 0){
                        layer.closeAll(); //关闭所有弹层
                        layer.msg("保存成功");
                        layui.table.reload('tableReload', {page: {curr: 1}}); //调用业务弹层外表格重新加载
                    }
                }
            });
            return false;
        });

        $('#btnBack_Param').on('click', function() {
            location.hash = '/account/pay_product/';
        });

    });
</script>
