
<div class=" layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">首页</a>
        <a>支付配置</a>
        <a><cite>修改支付通道</cite></a>
    </div>
</div>

<style>
    .layui-form-label {
        width:120px !important;
        margin-left:1%;
    }
    .layui-input-inline {
        width: 80% !important;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">支付通道</li>
            </ul>
            <div class="layui-tab-content">

                <form class="layui-form center">
                    <input type="hidden" name="id" id="id">
                    <div class="layui-form-item">
                        <label class="layui-form-label">通道名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="passageName" id="passageName" placeholder="请输入通道名称" required lay-verify="required"  autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">支付接口</label>
                        <div class="layui-input-inline" >
                            <select name="ifCode" id="ifCode" lay-filter="ifCodeFilter" disabled="disabled">
                                <option value="">选择支付接口</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">支付类型</label>
                        <div class="layui-input-inline" >
                            <select name="payType" id="payType" lay-filter="payTypeFilter">
                                <option value="">选择支付类型</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">通道状态</label>
                        <div class="layui-input-inline" >
                            <input type="radio" name="status" title="开启" value="1" />
                            <input type="radio" name="status" title="关闭" value="0" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">备注信息</label>
                        <div class="layui-input-inline">
                            <input type="text" name="remark" id="remark" placeholder="请输入备注信息" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <button type="button" class="layui-btn" lay-submit="" lay-filter="update">保存</button>
                            <a lay-href = "config/pay_passage/"  class="layui-btn ">返回</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    
    layui.use(['form','table','util','admin',],function(){
        var form = layui.form
        , $ = layui.$
        , admin = layui.admin
        , layer = layui.layer 
        , element = layui.element
        , table = layui.table;
        
        element.render('breadcrumb', 'breadcrumb'); //渲染导航信息
        
        var router = layui.router();
        var id = router.search.id;

        admin.req({
            type: 'post',
            url: layui.setter.baseUrl + '/config/pay_passage/get',
            data: {
                id:id,
            },
            error: function(err){
                layer.alert(err);
            },
            success: function(res){
                if(res.code == 0){
                    $('#id').val(res.data.id);
                    $('#passageName').val(res.data.passageName);
                    if(res.data.status == 1) {
                        $("input[name='status'][value='1']").attr("checked",true);
                    }else {
                        $("input[name='status'][value='0']").attr("checked",true);
                    }
                    $('#remark').val(res.data.remark);

                    var ifCode = res.data.ifCode;
                    var payType = res.data.payType;

                    // 加载支接口
                    admin.req({
                        type: 'post',
                        url: layui.setter.baseUrl + '/config/common/pay_interface_all',
                        error: function(err){
                            layer.alert(err);
                        },
                        success: function(res){
                            if(res.code == 0){
                                var ifTypeList = res.data;
                                //遍历赋值
                                for(var i in ifTypeList){
                                    $("#ifCode").append('<option value= '+ifTypeList[i].ifCode+'>'+ifTypeList[i].ifName+'</option>');
                                }
                                $("#ifCode").find('option[value="'+ifCode+'"]').attr('selected', true);
                                form.render('select');
                            }
                        }
                    });

                    // 加载支付类型
                    admin.req({
                        type: 'post',
                        url: layui.setter.baseUrl + '/config/common/pay_type_all',
                        error: function(err){
                            layer.alert(err);
                        },
                        success: function(res){
                            if(res.code == 0){
                                var payTypeList = res.data;
                                //遍历赋值
                                for(var i in payTypeList){
                                    $("#payType").append('<option value= '+payTypeList[i].payTypeCode+'>'+payTypeList[i].payTypeName+'</option>');
                                }
                                $("#payType").find('option[value="'+payType+'"]').attr('selected', true);
                                form.render('select');
                            }
                        }
                    });

                    form.render();
                }
            }
        })

        form.on('submit(update)', function(data){
            admin.req({
                type: 'post',
                url: layui.setter.baseUrl + '/config/pay_passage/update', //模拟接口,
                data: data.field,
                error: function(err){layer.alert(err.msg,{title:"请求失败"})},
                success: function(res){
                    if(res.code == 0){
                        layer.alert(res.msg, {title: '保存成功'},function(index){
                            layer.close(index);
                            location.hash = '/config/pay_passage/';
                        });
                    }
                }
            })
            return false;
        });

    });
    
</script>
