<style>
    .xxpayPopupDiv .layui-form-label {
        width:15% !important;
        margin-left:1%;
    }
    .xxpayPopupDiv .layui-input-inline {
        width: 33% !important;
    }
</style>
<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-tab layui-tab-brief">
      <div class="layui-tab-content">
          <form class="layui-form center">
              <div class="layui-form-item">
                  <label class="layui-form-label">代理商ID</label>
                  <div class="layui-input-inline">
                      <input type="text" id="agentId" name="agentId" readonly="readonly" class="layui-input">
                  </div>
              </div>
              <div class="layui-form-item">
                  <label class="layui-form-label">代理商名称</label>
                  <div class="layui-input-inline">
                      <input type="text" id="name" name="name" autocomplete="off" class="layui-input" disabled="disabled">
                  </div>
              </div>
              <div class="layui-form-item">
                  <label class="layui-form-label">状态</label>
                  <div class="layui-input-inline">
                      <input type="radio" name="status" value="1" title="通过" checked="checked">
                      <input type="radio" name="status" value="-2" title="拒绝">
                  </div>
              </div>
            <button type="button" class="layui-hide xxpayYesBtn" lay-submit="" lay-filter="audit">审核</button>
          </form>
      </div>
    </div>
  </div>
</div>

<script>
    layui.use(['admin', 'form','view'],function(){
        var form = layui.form
        ,$ = layui.$
        ,admin = layui.admin
        ,view = layui.view
        ,layer = layui.layer;
        // 导航

        var agentId = view.getOpenParams('agentId');

        admin.req({
            type: 'get',
            url: layui.setter.baseUrl + '/agent/get',
            data: { agentId : agentId },
            error: function(err){
                layer.alert(JSON.stringify(err.field));
            },
            success: function(res){

                if(res.code == 0){
                    $('#agentId').val(res.data.agentId);
                    $('#name').val(res.data.agentName);
                    form.render();
                }
            }
        });

        form.on('submit(audit)', function(data) {
            //这里可以写ajax方法提交表单
            admin.req({
                type: "POST",
                url: layui.setter.baseUrl + '/agent_audit/audit',
                data: data.field,
                success: function(res){
                    if(res.code == 0) {
                        layer.closeAll(); //关闭所有弹层
                        layer.msg("审核成功");
                        layui.table.reload('tableReload', {page: {curr: 1}}); //调用业务弹层外表格重新加载
                    }
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

    })
</script>