<style>
  .layui-input-inline{margin-top:10px;}
</style>
<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>订单管理</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-tab layui-tab-brief">
      <ul class="layui-tab-title">
        <li class="layui-this">支付订单</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
          <div class="layui-row">
           <form action="" id="exportForm" method="post">
            <input name="Authorization" id='exportHiddenInput' type="hidden"/>
            <div class="layui-form" style="float:right; margin-bottom: 10px;">
              <div id="timeDiv" class="layui-form-item" style="margin:0;">
                <div class="layui-input-inline">
                  <input type="text" name="searchMchId" id="searchMchId" placeholder="商户ID" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline">
                  <input type="text" name="searchPayOrderId" id="searchPayOrderId" placeholder="支付订单号" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline">
                  <input type="text" name="searchMchOrderNo" id="searchMchOrderNo" placeholder="商户订单号" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline">
                  <select name="searchProductId" id="searchProductId" lay-search="">
                    <option value="-99">支付产品</option>
                  </select>
                </div>
                <div class="layui-input-inline">
                  <select name="type" id="searchProductType" placeholder="产品类型" lay-search="">
                    <option value="-99">产品类型</option>
                    <option value="1">收款</option>
                    <option value="2">充值</option>
                  </select>
                </div>
                <div class="layui-input-inline">
                  <select name="searchStatus" id="searchStatus" lay-search="">
                    <option value="-99">订单状态</option>
                    <option value="0">订单生成</option>
                    <option value="1">支付中</option>
                    <option value="2">支付成功</option>
                    <option value="-1">支付失败</option>
                    <option value="-2">订单超时</option>
                    <option value="4">已退款</option>
                    <option value="6">押金未结算</option>
                    <option value="7">押金退还</option>
                  </select>
                </div>
                <div class="layui-input-inline">
                  <button id="search" class="layui-btn" data-type="reload">搜索</button>
                </div>

              </div>
            </div>
           </form>
            <!--<div class="layui-form-item">
              <blockquote class="layui-elem-quote" id="amountTip">
                提交订单数:<sapn id="allTotalCount" style="color: blue; margin-right: 10px;"></sapn>
                订单总金额:<span id="allTotalAmount" style="color: blue; margin-right: 10px;"></span>
                已付订单数:<span id="successTotalCount" style="color: green; margin-right: 10px;"></span>
                已付总金额:<span id="successTotalAmount" style="color: green; margin-right: 10px;"></span>
                未付订单数:<span id="failTotalCount" style="color: red; margin-right: 10px;"></span>
                未付总金额:<span id="failTotalAmount" style="color: red; margin-right: 10px;"></span>
                支付成功率:<span id="successRate" style="color: green; margin-right: 10px;"></span>
              </blockquote>
            </div>-->
          </div>
          <table id="XxPay_Mgr_PayOrder_dataAll" lay-filter="XxPay_Mgr_PayOrder_dataAll"></table>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/html" id="xxpayBar">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
</script>

<script>
	layui.config({
	    base: '/x_isv/src/lib/extend/',
	});
layui.use(['admin', 'table', 'util', 'timePick','view'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,table = layui.table
  ,element = layui.element
  ,timePick = layui.timePick
  ,view = layui.view
  ,form = layui.form;

  timePick.init();  //第一个参数表示开始时间   第二个表示结束时间   0,0今天   -1,-1昨天   -7,0近一周   以此类推
  element.render('breadcrumb', 'breadcrumb');

  //导出参数初始化
  var tokenParamsName = layui.setter.request.tokenName;
  $('#exportHiddenInput').attr('name', tokenParamsName).val(layui.data(layui.setter.tableName)[tokenParamsName]);
  $('#exportForm').attr('action' , layui.setter.baseUrl+'/pay_order/exportExcel');

  $.setCountResult = function(mchId, productId, payOrderId, mchOrderNo, productType, createTimeStart, createTimeEnd) {
    admin.req({
      type: 'get',
      url: layui.setter.baseUrl + '/pay_order/count',
      data: {
        mchId : mchId,
        productId : productId,
        payOrderId : payOrderId,
        mchOrderNo : mchOrderNo,
        productType : productType,
        queryStartDateTime : createTimeStart,
        queryEndDateTime : createTimeEnd
      },
      error: function(err){
        layer.alert(JSON.stringify(err.field), {
          title: '错误提示'
        })
      },
      success: function(res){
        if(res.code == 0){
          $('#allTotalCount').html(res.data.allTotalCount);
          $('#allTotalAmount').html("￥" + res.data.allTotalAmount/100.00);
          $('#successTotalCount').html(res.data.successTotalCount);
          $('#successTotalAmount').html("￥" + res.data.successTotalAmount/100.00);
          $('#failTotalCount').html(res.data.failTotalCount);
          $('#failTotalAmount').html("￥" + res.data.failTotalAmount/100.00);
          $('#successRate').html(res.data.successRate+"%");
        }
      }
    });
  };

  // 加载支付产品
/*  admin.req({
    type: 'post',
    url: layui.setter.baseUrl + '/config/common/pay_product_all',
    error: function(err){
      layer.alert(err);
    },
    success: function(res){
      if(res.code == 0){
        var payProductList = res.data;
        //遍历赋值
        for(var i in payProductList){
          $("#productId").append('<option value= '+payProductList[i].id+'>'+payProductList[i].productName+'</option>');
        }
        form.render('select');
      }
    }
  });*/

  var tplStatus = function(d){
    if(d.status == 0) {
      return "<span style='color: blue'>订单生成</span>";
    }else if(d.status == 1) {
      return "<span style='color: orangered'>支付中</span>";
    }else if(d.status == 2) {
      return "<span style='color: green'>支付成功</span>";
    }else if(d.status == -1) {
      return "<span style='color: red'>支付失败</span>";
    }else if(d.status == 4) {
      return "<span style='color: red'>已退款</span>";
    }else if(d.status == -2) {
        return "<span style='color: red'>订单超时</span>";
    }else if(d.status == 6) {
        return "<span style='color: orangered'>押金未结算</span>";
    }else if(d.status == 7) {
        return "<span style='color: red'>押金退还</span>";
    }
  };
/*
  var tplNotifyStatus = function(d){
      if(d.ps.notifyStatus == 1) {
          return "<span style='color: blue'>通知中</span>";
      }else if(d.ps.notifyStatus == 2) {
          return "<span style='color: green'>通知成功</span>";
      }else if(d.ps.notifyStatus == 3) {
          return "<span style='color: red'>通知失败</span>";
      }
      return "";
  };*/


  // 初始化统计结果
  var mchId = $('#searchMchId').val();
  var productId = $('#searchProductId').val();
  var payOrderId = $('#searchPayOrderId').val();
  var mchOrderNo = $("#searchMchOrderNo").val();
  var productType = $("#searchProductType").val();
  var createTimeStart = $('#createTimeStart').val();
  var createTimeEnd = $('#createTimeEnd').val();
  var status = $("#searchStatus").val();

  $.setCountResult(mchId, productId, payOrderId, mchOrderNo, productType, createTimeStart, createTimeEnd);
  //用户列表
  table.render({
    elem: '#XxPay_Mgr_PayOrder_dataAll'
    ,url: layui.setter.baseUrl + '/pay_order/list' //用户列表接口
    ,where: {
        queryStartDateTime : createTimeStart,
        queryEndDateTime : createTimeEnd
    }
    ,id: 'tableReload'
    ,page: true
    ,cols: [[
      {type: 'checkbox', fixed: 'left'}
      ,{field: 'mchId', title: '商户ID'}
      ,{field: 'mchOrderNo', title: '商户单号'}
      ,{field: 'payOrderId', title: '支付单号'}
      ,{field: 'amount', title: '支付金额', templet: '<div>{{ d.amount/100 }}</div>'}
      ,{field: 'productType', title: '产品类型', templet: '<div>{{ d.productType == 1 ? "收款" : d.productType == 2 ? "充值" : ""}}</div>'}
      ,{field: 'status', title: '状态', templet: tplStatus}
      // ,{title: '通知状态', templet: tplNotifyStatus}
      ,{field: 'createTime', title: '创建时间', templet: '<div>{{ layui.util.toDateString(d.createTime, "yyyy-MM-dd HH:mm:ss") }}</div>'}
      ,{field: 'edit', title: '操作', toolbar: '#xxpayBar' }
    ]]
    ,skin: 'line'
  });

  //监听工具条
  table.on('tool(XxPay_Mgr_PayOrder_dataAll)', function(obj){
    var data = obj.data;
    if(obj.event === 'detail'){
      view.xxpayPopup("订单详情", "order/pay/view", {payOrderId: data.payOrderId}, {btn: false});
    }
  });

  // 搜索
  var $ = layui.$, active = {
    reload: function(){
      var mchId = $('#searchMchId').val();
      var productId = $('#searchProductId').val();
      var payOrderId = $('#searchPayOrderId').val();
      var mchOrderNo = $("#searchMchOrderNo").val();
      var productType = $("#searchProductType").val();
      var createTimeStart = $('#createTimeStart').val();
      var createTimeEnd = $('#createTimeEnd').val();
      var status = $("#searchStatus").val();

      $.setCountResult(mchId, productId, payOrderId, mchOrderNo, productType, createTimeStart, createTimeEnd);
      //执行重载
      table.reload('tableReload', {
        page: {
          curr: 1 //重新从第 1 页开始
        }
        ,where: {
          mchId: mchId,
          productId: productId,
          payOrderId: payOrderId,
          mchOrderNo: mchOrderNo,
          productType: productType,
          status : status,
          queryStartDateTime : createTimeStart,
          queryEndDateTime : createTimeEnd
        }
      });
    }
  };
  $('#search').on('click', function() {
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
    return false;
  });
  // 渲染表单
  form.render();
});
</script>