<style>
    .layui-input-inline{margin-top:10px;}
</style>
<div class="layui-card-header layui-card">
    <span class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">首页</a>
        <a><cite>代付列表</cite></a>
    </span>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">代付列表信息</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-row">
                  <form action="" id="exportForm" method="post">
                    <input name="Authorization" id='exportHiddenInput' type="hidden"/>
                    <div class="layui-form" style="float:right; margin-bottom: 10px;">
                        <div id="timeDiv" class="layui-form-item" style="margin:0;">
                            <div class="layui-input-inline">
                                <select name="infoType" id="infoType" lay-search="">
                                    <option value="">发起类型</option>
                                    <option value="1">商户</option>
                                    <option value="2">代理商</option>
                                </select>
                            </div>
                        	<div class="layui-input-inline">
                                <input type="text" name="infoId" id="infoId" placeholder="商户/代理商ID" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" name="accountName" id="accountName" placeholder="账户名" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" name="agentpayOrderId" id="agentpayOrderId" placeholder="代付单号" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-input-inline">
                                <select name="agentpayChannel" id="agentpayChannel" lay-search="">
                                    <option value="">代付渠道</option>
                                    <option value="1">商户/代理商后台</option>
                                    <option value="2">API接口</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <select name="status" id="status" lay-search="">
                                    <option value="">状态</option>
                                    <option value="0">待处理</option>
                                    <option value="1">处理中</option>
                                    <option value="2">成功</option>
                                    <option value="3">失败</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <button id="search" class="layui-btn" data-type="reload">搜索</button>
                                <button type="submit" class="layui-btn">导出</button>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <blockquote class="layui-elem-quote" id="amountTip">
                            订单数:<sapn id="allTotalCount" style="color: blue; margin-right: 10px;"></sapn>
                            代付金额:<span id="allTotalAmount" style="color: blue; margin-right: 10px;"></span>
                            代付费用:<span id="allTotalFee" style="color: green; margin-right: 10px;"></span>
                            扣减金额:<span id="allTotalSubAmount" style="color: green; margin-right: 10px;"></span>
                        </blockquote>
                    </div>
                  </form>
                </div>
                <table id="jsList" lay-filter="jsList"></table>
            </div>
        </div>
    </div>
</div>
<script>
     //标题内容模板
     var tplEdit = function(d){
         return "<a class='layui-btn layui-btn-primary layui-btn-xs' lay-event='detail'>详情</a>" +
                     "<a class='layui-btn layui-btn-primary layui-btn-xs' lay-event='transResult'>上游结果</a>";
     };
     
     var tplTitle = function(d){
         return '<a class="layui-btn layui-btn-xs layui-btn-primary" lay-href="sett/agentpay/detail/agentpayOrderId='+ d.agentpayOrderId +'">详情</a>';

     };

     var tplStatus = function(d){
         if(d.Status == 0) {
             return '<span class="layui-badge layui-bg-blue">待处理</span>';
         }else if(d.Status == 1) {
             return '<span class="layui-badge layui-bg-orange">处理中</span>';
         }else if(d.Status == 2) {
             return '<span class="layui-badge layui-bg-green">成功</span>';
         }else if(d.Status == 3) {
             return '<span class="layui-badge">失败</span>('+ d.transMsg+')';
         }
     };

     var tplAgentpayChannel = function(d){
         if(d.AgentpayChannel == 1) {
             return '商户后台';
         }else if(d.AgentpayChannel == 2) {
             return 'API接口';
         }
     };

	 layui.config({
	    base: '/x_agent/src/lib/extend/',
	 });
     layui.use(['table','util','admin', 'laydate', 'timePick'], function(){
        var table = layui.table
        ,$ = layui.$
        ,admin = layui.admin
        ,laydate = layui.laydate
        ,timePick = layui.timePick
        ,element = layui.element
        ,form = layui.form;

		timePick.init();  //第一个参数表示开始时间   第二个表示结束时间   0,0今天   -1,-1昨天   -7,0近一周   以此类推
        element.render('breadcrumb', 'breadcrumb');//渲染导航信息

         //导出参数初始化
         var tokenParamsName = layui.setter.request.tokenName;
         $('#exportHiddenInput').attr('name', tokenParamsName).val(layui.data(layui.setter.tableName)[tokenParamsName]);
         $('#exportForm').attr('action' , layui.setter.baseUrl+'/pay_order/agpay/exportExcel');

         $.setCountResult = function(accountName, infoId, infoType, agentpayOrderId, status, agentpayChannel, createTimeStart, createTimeEnd) {
             admin.req({
                 type: 'get',
                 url: layui.setter.baseUrl + '/pay_order/agentpayCount',
                 data: {
                     accountName: accountName,
                     searchInfoId: infoId,
                     searchInfoType: infoType,
                     agentpayOrderId : agentpayOrderId,
                     status : status,
                     agentpayChannel: agentpayChannel,
                     createTimeStart : createTimeStart,
                     createTimeEnd : createTimeEnd
                 },
                 error: function(err){
                     layer.alert(JSON.stringify(err.field), {
                         title: '错误提示'
                     })
                 },
                 success: function(res){
                     if(res.code == 0){
                         $('#allTotalCount').html(res.data[0].totalCount);
                         $('#allTotalAmount').html("￥" + res.data[0].totalAmount/100.00);
                         $('#allTotalFee').html("￥" + res.data[0].totalFee/100.0);
                         $('#allTotalSubAmount').html("￥" + res.data[0].totalSubAmount/100.00);
                     }
                 }
             });
         };

         // 初始化统计结果
        var createTimeStart = $('#createTimeStart').val();
        var createTimeEnd = $('#createTimeEnd').val();
        var agentpayOrderId = $('#agentpayOrderId').val();
        var accountName = $('#accountName').val().trim();
        var infoId = $('#infoId').val();
        var infoType = $('#infoType').val();
        var status = $("#status").val();
        var agentpayChannel = $("#agentpayChannel").val();
        $.setCountResult(accountName, infoId, infoType, agentpayOrderId, status, agentpayChannel, createTimeStart, createTimeEnd);

        table.render({
            elem: '#jsList'
            ,id: "tableReload"
            ,url: layui.setter.baseUrl + '/pay_order/agentpayList'
            ,where: {
                
                createTimeStart : createTimeStart,
                createTimeEnd : createTimeEnd
            }
            ,cols: [[
                {field: 'TransOrderId', width: 220, title: '转账单号'}
                ,{field: 'InfoId',title: '商户/代理商ID'}
                ,{title: '发起类型', templet: function (data){ return data.InfoType == 1 ? "商户" : "代理商";} }
                ,{field: 'AccountName',title: '账户名'}
                ,{field: 'AccountNo',title: '账号'}
                ,{field: 'Amount', title: '代付金额(元)',templet: '<div>{{d.Amount/100}}</div>' }
                ,{field: 'Fee', title: '手续费(元)',templet: '<div>{{d.Fee/100}}</div>' }
                ,{field: 'SubAmount', title: '扣减账户金额(元)',templet: '<div>{{d.SubAmount/100}}</div>' }
                ,{field: 'Status',title: '状态',templet: tplStatus}
                ,{field: 'AgentpayChannel',title: '代付渠道',templet: tplAgentpayChannel}
                ,{field: 'CreateTime',  title: '时间', width: 180, templet: '<div>{{ layui.util.toDateString(d.CreateTime) }}</div>' }
				,{field: 'edite', title: '操作', templet: tplEdit }            	
            ]]
            ,page: true
            ,skin: 'line'
        });
        
        //监听工具条
         table.on('tool(jsList)', function(obj){
             var data = obj.data;
             if(obj.event === 'detail'){
                 location.href = layui.setter.baseLocal + "biz/agentpay/detail/agentpayOrderId=" + data.AgentpayOrderId;
             } else if(obj.event == 'transResult') {
                 if(data.TransOrderId == null || data.TransOrderId == '') {
                     layer.alert("没有转账订单号,不能查询");
                     return;
                 }
                 layer.msg('正在查询代付通道代付结果...', {icon: 16});
                 admin.req({
                     type: 'post',
                     url: layui.setter.baseUrl + '/pay_order/trans_query',
                     data: {
                         transOrderId: data.TransOrderId
                     },
                     error: function(err){
                         layer.alert(err);
                     },
                     success: function(res){
                         layer.closeAll('loading');
                         if(res.code == 0){
                             layer.open({
                                 title: '订单:' + data.AgentpayOrderId
                                 ,content: res.data
                             });
                         }
                     }
                 });
             }
         });

         // 搜索
         var $ = layui.$, active = {
             reload: function(){
                 var createTimeStart = $('#createTimeStart').val();
                 var createTimeEnd = $('#createTimeEnd').val();
                 var agentpayOrderId = $('#agentpayOrderId').val();
                 var accountName = $('#accountName').val().trim();
                 var infoId = $('#infoId').val();
                 var infoType = $('#infoType').val();
                 var status = $("#status").val();
                 var agentpayChannel = $("#agentpayChannel").val();
                 $.setCountResult(accountName, infoId, infoType, agentpayOrderId, status, agentpayChannel, createTimeStart, createTimeEnd);
                 //执行重载
                 table.reload('tableReload', {
                     page: {
                         curr: 1 //重新从第 1 页开始
                     }
                     ,where: {
                         accountName: accountName,
                         searchInfoId: infoId,
                         searchInfoType: infoType,
                         agentpayOrderId: agentpayOrderId,
                         createTimeStart : createTimeStart,
                         createTimeEnd : createTimeEnd,
                         status : status,
                         agentpayChannel : agentpayChannel
                     }
                 });
             }
         };
         $('#search').on('click', function() {
             var type = $(this).data('type');
             active[type] ? active[type].call(this) : '';
             return false;
         });

         // 渲染表单
         form.render();
        
     })
</script>